{% extends 'admin/layout.html.twig' %}

{% block title %}View assisted Case Studies - Vet Wound Library{% endblock %}
{% block heading %}Assisted Case Studies{% endblock %}
{% block sub_heading %}View case studies that requested help{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Assigned Case Studies</h3>
                </div>
                <div class="box-body">
                    {% if case_studies_assigned is not empty %}
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="30%">Injury</th>
                                    <th width="20%">Pet Breed</th>
                                    <th width="20%">User Name</th>
                                    <th width="20%">Last Update</th>
                                    <th width="10%">Published</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for case in case_studies_assigned %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_case_study_show', { slug: case.slug }) }}">
                                                {{ case.injuryName }}
                                            </a>
                                        </td>
                                        <td>{{ case.petBreed }}</td>
                                        <td>{{ case.user.firstName }} {{ case.user.lastName }}</td>
                                        <td>{{ case.latestUpdate.date | date("g:ia\, d/m/Y") }}</td>
                                        <td>
                                            {% if case.published == constant('AppBundle\\Entity\\CaseStudy::NOT_VISIBLE') %}
                                                <span class="label label-danger">Not Published</span>
                                            {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::SUBSCRIBED_VISIBLE') %}
                                                <span class="label label-warning">Subscribers</span>
                                            {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::PUBLIC_VISIBLE') %}
                                                <span class="label label-success">Public</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>No case studies to view.</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Unassigned Case Studies</h3>
                </div>
                <div class="box-body">
                    {% if case_studies_unassigned is not empty %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th width="30%">Injury</th>
                                <th width="20%">Pet Breed</th>
                                <th width="20%">User Name</th>
                                <th width="20%">Last Update</th>
                                <th width="10%">Published</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for case in case_studies_unassigned %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_case_study_show', { slug: case.slug }) }}">
                                            {{ case.injuryName }}
                                        </a>
                                    </td>
                                    <td>{{ case.petBreed }}</td>
                                    <td>{{ case.user.firstName }} {{ case.user.lastName }}</td>
                                    <td>{{ case.latestUpdate.date | date("g:ia\, d/m/Y") }}</td>
                                    <td>
                                        {% if case.published == constant('AppBundle\\Entity\\CaseStudy::NOT_VISIBLE') %}
                                            <span class="label label-danger">Not Published</span>
                                        {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::SUBSCRIBED_VISIBLE') %}
                                            <span class="label label-warning">Subscribers</span>
                                        {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::PUBLIC_VISIBLE') %}
                                            <span class="label label-success">Public</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>No case studies to view.</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}