{% extends 'admin/layout.html.twig' %}

{% block title %}View active Case Studies - Vet Wound Library{% endblock %}
{% block heading %}Case Studies{% endblock %}
{% block sub_heading %}{{ sub_heading }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    {% if case_studies is not empty %}
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Injury</th>
                                    <th>Pet Breed</th>
                                    <th>User Name</th>
                                    <th>Last Update</th>
                                    <th>Published</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for case in case_studies %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_case_study_show', { slug: case.slug }) }}">
                                                {{ case.injuryName }}
                                            </a>
                                        </td>
                                        <td>{{ case.petBreed }}</td>
                                        <td>{{ case.user.firstName }} {{ case.user.lastName }}</td>
                                        {% if case.latestUpdate is not null %}
                                            <td>{{ case.latestUpdate.date | date("g:ia\, d/m/Y") }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        <td>
                                            {% if case.published == constant('AppBundle\\Entity\\CaseStudy::NOT_VISIBLE') %}
                                                <span class="label label-danger">Not Published</span>
                                            {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::SUBSCRIBED_VISIBLE') %}
                                                <span class="label label-warning">Subscribers</span>
                                            {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::PUBLIC_VISIBLE') %}
                                                <span class="label label-success">Public</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>No case studies to view.</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}