{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}{{ title }} - Vet Wound Library{% endblock %}
{% block heading %}{{ title }}{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Title
            </h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.injuryName) }}
            </div>
            <div class="form-group">
                {{ form_row(form.petBreed) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>
            <div class="form-group">
                {{ form_row(form.petBirthDate) }}
            </div>
            <div class="form-group">
                {{ form_row(form.petSex) }}
            </div>
            <div class="form-group">
                {{ form_row(form.tried) }}
            </div>
            <div class="form-group">
                {{ form_row(form.woundLocation) }}
            </div>
            <div class="form-group">
                {{ form_row(form.woundDate) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Options
            </h3>
        </div>
        <div class="box-body">
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}