{% extends 'admin/sidebar_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block heading %}{{ case_study.injuryName }} - Update {% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.content) }}
            </div>
            <div class="form-group">
                <span>User updates <i>only</i></span>
                <hr style="margin-top: 0.25rem;">
                {{ form_row(form.woundSize) }}
            </div>
            <div class="form-group">
                {{ form_row(form.tissueStatus) }}
            </div>
            <div class="form-group">
                {{ form_row(form.user) }}
            </div>{{ form_end(form) }}
            <div class="form-group">
                <label>Product Images</label>
            </div>
            {% if case_study_update.images is not empty %}
                <div class="row">
                    {% for image in case_study_update.images %}
                        <div class="col-sm-12 col-md-3" style="margin-bottom: 2rem;">
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('case_study_admin_thumb_collection') }}" alt="{{ case_study.injuryName }}" style="width: 100%"/>
                            <button data-href="{{ url('image_delete', {id: image.id}) }}" class="btn btn-block btn-danger btn-flat btn-delete-img">Delete Image</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ url('image_upload') }}" class="dropzone-box" id="dropzonebox" enctype="multipart/form-data">
                <div class="dz-message">Drop your images in here.</div>
            </form>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Options
            </h3>
        </div>
        <div class="box-body">
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js') }}"></script>
    <script>
        $(function() {
            var count = 0;

            $('#dropzonebox').dropzone({
                success: function(file, response) {
                    console.log(response);
                    var input = '<input type="hidden" name="images[' + count + ']" value="' + response + '">';
                    $('form[name="product"]').append(input);
                    count++;
                }
            });

            $('.btn-delete-img').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        location.reload();
                    }
                });
            });

        });
    </script>
{% endblock %}