{% extends 'admin/sidebar_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css') }}">
{% endblock %}

{% block title %}{{ case_study.injuryName }} - Vet Wound Library{% endblock %}
{% block heading %}{{ case_study.injuryName }}{% endblock %}
{% block sub_heading %}Case Study information{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12 case-head">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <form action="" method="post">
                            <tbody>
                            <tr>
                                <td width="30%"><strong>Injury Name</strong></td>
                                <td>{{ case_study.injuryName }}</td>
                            </tr>
                            <tr>
                                <td><strong>User Name</strong></td>
                                <td>{{ case_study.user.firstName }} {{ case_study.user.lastName }}</td>
                            </tr>
                            <tr>
                                <td><strong>Pet Breed</strong></td>
                                <td>{{ case_study.petBreed }}</td>
                            </tr>
                            <tr>
                                <td><strong>Gender</strong></td>
                                <td>
                                    {%  if case_study.petSex is constant('AppBundle\\Entity\\CaseStudy::MALE') %}
                                        Male
                                    {% elseif case_study.petSex is constant('AppBundle\\Entity\\CaseStudy::FEMALE') %}
                                        Female
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Last Update</strong></td>
                                {% if case_study.latestUpdate is not null %}
                                    <td>{{ case_study.latestUpdate.date | date("g:ia\, d/m/Y") }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>Animal Type</strong></td>
                                <td>
                                {% if case_study.category is constant('AppBundle\\Entity\\CaseStudy::LARGE_ANIMALS') %}
                                    Large Animal
                                {% elseif case_study.category is constant('AppBundle\\Entity\\CaseStudy::SMALL_ANIMALS') %}
                                    Small Animal
                                {% elseif case_study.category is constant('AppBundle\\Entity\\CaseStudy::EXOTIC_ANIMALS') %}
                                    Exotic Animal
                                {% else %}
                                    Uncategorised?
                                {% endif %}
                                </td>
                            </tr>
                            {% if case_study.tried is not empty %}
                                <tr>
                                    <td><strong>User tried</strong></td>
                                    <td>{{ case_study.tried }}</td>
                                </tr>
                            {% endif %}
                            {% if case_study.summary is not empty %}
                                <tr>
                                    <td><strong>Summary</strong></td>
                                    <td>{{ case_study.summary }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </form>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group pull-right">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_case_study_edit', {slug: case_study.slug}) }}" class="btn btn-default">Edit Case Study</a>
                                    {% if case_study.archived %}
                                        <a href="{{ path('admin_case_study_unarchive', { slug: case_study.slug }) }}" class="btn btn-default">
                                            Unarchive
                                        </a>
                                    {% else %}
                                        <a href="{{ path('admin_case_study_archive', { slug: case_study.slug }) }}" class="btn btn-default">
                                            Archive
                                        </a>
                                    {% endif %}
                                    </a>
                                    <a href="{{ path('admin_case_study_summary_change', {slug : case_study.slug}) }}" class="btn btn-default">
                                        {% if case_study.summary is not empty %}
                                            Change Summary
                                        {% else %}
                                            Add Summary
                                        {% endif %}
                                    </a>
                                {% endif %}
                                <a href="{{ path('admin_case_study_update_new', { slug : case_study.slug}) }}" class="btn btn-default">Add Update</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for update in case_study.caseStudyUpdate %}
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            {% if 'ROLE_EXPERT' in update.user.roles or 'ROLE_ANGEL' in update.user.roles %}
                                Expert
                            {% endif %}
                            Update: {{ update.date|date("d/m/Y") }}
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td width="30%"><strong>Message</strong></td>
                                <td>{{ update.content }}</td>
                            </tr>
                            {% for role in update.user.roles %}
                                {% if role == 'ROLE_USER' %}
                                    <tr>
                                        <td><strong>Tissue Status</strong></td>
                                        <td>{{ update.tissueStatus }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Wound Size</strong></td>
                                        <td>{{ update.woundSize }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td><strong>Updated by</strong></td>
                                <td>{{ update.user.firstName }} {{ update.user.lastName }}</td>
                            </tr>
                            {% if update.images is not empty %}
                                <tr>
                                    <td><strong>Images</strong></td>
                                    <td>
                                        <div class="row">
                                            {% for image in update.images %}
                                                <div class="col-sm-12 col-md-3" style="margin-bottom: 2rem;">
                                                    <a href="{{ vich_uploader_asset(image, 'imageFile') }}" class="fancybox" rel="update-{{ update.id }}">
                                                        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('case_study_admin_thumb_collection') }}" alt="{{ update.tissueStatus }}" style="width: 100%"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <a href="{{ path('admin_case_study_update_edit', {slug: case_study.slug, caseStudyUpdateId: update.id}) }}" class="btn btn-default pull-right">Edit Update</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <i class="fa fa-pencil-square-o"></i>
            <h3 class="box-title">
                Update Options
            </h3>
        </div>
        {% if case_study.image is not null %}
            <div class="box-body">
                <img src="{{ vich_uploader_asset(case_study.image, 'imageFile') | imagine_filter('case_study_admin_thumb') }}" alt="{{ case_study.injuryName }}" style="width:100%" />
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="box-body">
            {% if form.image is defined %}
                <div class="form-group">
                    {{ form_row(form.image) }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_row(form.published) }}
            </div>
            <div class="form-group">
                {{ form_row(form.assignedUser) }}
            </div>
        </div>
        <div class="box-footer">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}