{% extends 'admin/layout.html.twig' %}

{% block title %}{{ case_study.injuryName() }} - Vet Wound Library{% endblock %}
{% block heading %}{{ case_study.injuryName }} - Summary {% endblock %}
{% block sub_heading %}This is viewable by public when published.{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                Case study summary
            </h3>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.summary) }}
            </div>
            <div class="box-footer">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}