{% extends 'admin/layout.html.twig' %}

{% block title %}Admin Dashboard - Vet Wound Library{% endblock %}

{% block heading %}Welcome to Vet Wound Library Admin Panel{% endblock %}

{% block body %}
    <div class="row">
        {% if case_studies_help is not empty %}
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Case Studies: Help requested</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Injury</th>
                                    <th>Pet Breed</th>
                                    <th>User Name</th>
                                    <th>Last Update</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for case in case_studies_help %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_case_study_show', { slug: case.slug }) }}">
                                                {{ case.injuryName }}
                                            </a>
                                        </td>
                                        <td>{{ case.petBreed }}</td>
                                        <td>{{ case.user.firstName }} {{ case.user.lastName }}</td>
                                        <td>{{ case.latestUpdate.date | date("g:ia\, d/m/Y") }}</td>
                                        <td>
                                            {% if case.published == constant('AppBundle\\Entity\\CaseStudy::NOT_VISIBLE') %}
                                                <span class="label label-danger">Not Published</span>
                                            {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::SUBSCRIBED_VISIBLE') %}
                                                <span class="label label-warning">Subscribers</span>
                                            {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::PUBLIC_VISIBLE') %}
                                                <span class="label label-success">Public</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if assigned_emails is not empty %}
        <div class="col-sm-12 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Assigned Emails</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for contact in app.user.emails %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_contact_show', { id : contact.id }) }}">
                                            {{ contact.name }}
                                        </a>
                                    </td>
                                    <td>{{ contact.subject }}</td>
                                    <td>
                                        {% if contact.replied %}
                                            <span class="label label-success">Replied</span>
                                        {% else %}
                                            <span class="label label-warning">No Reply</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if app.user.assignedCaseStudies is not empty %}
            <div class="col-sm-12 col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Assigned Case Studies</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Injury</th>
                                <th>Pet Breed</th>
                                <th>User Name</th>
                                <th>Last Update</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for case in app.user.assignedCaseStudies %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_case_study_show', { slug: case.slug }) }}">
                                            {{ case.injuryName }}
                                        </a>
                                    </td>
                                    <td>{{ case.petBreed }}</td>
                                    <td>{{ case.user.firstName }} {{ case.user.lastName }}</td>
                                    <td>{{ case.latestUpdate.date | date("g:ia\, d/m/Y") }}</td>
                                    <td>
                                        {% if case.published == constant('AppBundle\\Entity\\CaseStudy::NOT_VISIBLE') %}
                                            <span class="label label-danger">Not Published</span>
                                        {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::SUBSCRIBED_VISIBLE') %}
                                            <span class="label label-warning">Subscribers</span>
                                        {% elseif case.published == constant('AppBundle\\Entity\\CaseStudy::PUBLIC_VISIBLE') %}
                                            <span class="label label-success">Public</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if orders is not empty %}
            <div class="col-sm-12 col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Orders placed within the last month</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Distributor</th>
                                    <th>User</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_order_show', { id: order.id }) }}">
                                                {{ order.product.productName }}
                                            </a>
                                        </td>
                                        <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
                                        <td>{{ order.distributor.name }}</td>
                                        <td>{{ order.date|date("g:ia\, d/m/Y") }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}