{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View plans - Vet Wound Library{% endblock %}
{% block heading %}View all plans{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if plans is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Interval</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plan in plans %}
                        <tr>
                            <td>{{ plan.id }}</td>
                            <td>
                                <a href="{{ path('admin_plan_show', {id: plan.id}) }}">
                                    {{ plan.name }}
                                </a>
                            </td>
                            <td>
                                £ {{ plan.amount/100|number_format(2, '.', ',') }}
                            </td>
                            <td>{{ plan.planInterval }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No plans have been added</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_plan_new') }}" class="btn btn-block btn-primary">Add Plan</a>
        </div>
    </div>
{% endblock %}