{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}
    {% if plan.name is not null %}
        {{ plan.name }}
    {% else %}
        New Plan
    {% endif %} - Vet Wound Library
{% endblock %}
{% block heading %}
    {% if plan.name is not null %}
        {{ plan.name }}
    {% else %}
        New Plan
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Plan</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.amount) }}
            </div>
            <div class="form-group">
                {{ form_row(form.planInterval) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Action
            </h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_plan_new') }}" style="margin-bottom:8px;" class="btn btn-block btn-default">New Plan</a>
            {% if delete_form is defined %}
                <div class="modal fade modal-danger">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <p>This action will permanently delete this plan.</p>
                                <p>Do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                {{ form_start(delete_form) }}
                                {{ form_row(delete_form.submit) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button"class="btn btn-block btn-danger" data-toggle="modal" data-target=".modal">Delete Plan</button>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        <div class="box-footer">
            {{ form_widget(form._token) }}
                <a href="" class="btn btn-default btn-block" style="margin-bottom: 8px;">View Plan</a>
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}