<!DOCTYPE html>
<html>
    <head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Vet Wound Library{% endblock %} - {{ title }}</title>
		
<meta name="author" content="Vet Wound Library ">
<meta name="description" content="">

<!--Open Graph Meta Tags-->
<meta property="og:site_name" content="Vet Wound Library"/>
	
		
<link rel="stylesheet" href="{{ asset('css/responsive-nav.css') }}">
<script src="{{ asset('js/responsive-nav.js') }}"></script>
				
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css') }}">
            <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.css') }}">
            <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Raleway:400,600,300') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
		
		<script src="https://use.fontawesome.com/293c0324cf.js"></script>
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	
	   
	
	
        <div class="main-wrapper">
            <header id="main-header">
                <div class="row">
                    <div class="small-6 columns">
                        <a href="{{ url('homepage') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Vet Wound Library" class="logo" /></a>
                    </div>
                    <div class="small-6 columns">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ url('fos_user_security_logout') }}" class="header-btn softblue">Log out</a>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EXPERT') or is_granted('ROLE_ANGEL') %}
                                <a href="{{ url('admin_index') }}" class="header-btn">
                            {% else %}
                                <a href="{{ url('account_index') }}" class="header-btn">
                            {% endif %}
                                    Your Account
                                </a>
                        {% else %}
                            <a href="{{ url('homepage') }}login" class="header-btn softblue">Login</a>
                            <a href="{{ url('homepage') }}register" class="header-btn">Register</a>
                        {% endif %}
                    </div>
                </div>
            </header>
			
<!--Mobile Menu Only-->
<nav class="nav-collapse show-for-small-only">
        <ul>
             <li {% if app.request.attributes.get('_route') == 'homepage' %}class="active"{% endif %}><a href="{{ url('homepage') }}">Home</a></li>
                                <li {% if app.request.attributes.get('_route') == 'page_show' and app.request.attributes.get('_route_params').slug == 'about' %}class="active"{% endif %}><a href="{{ path('page_show', {'slug': 'about'}) }}">About</a></li>
                                <li {% if app.request.attributes.get('_route') == 'public_case_study_index' %}class="active"{% endif %}><a href="{{ url('public_case_study_index') }}">Case Studies</a></li>

								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                              	<li {% if app.request.attributes.get('_route') == 'product_index' %}class="active"{% endif %}><a href="{{ url('product_index') }}">Products</a></li>
                        		{% endif %}
								
                                <li {% if app.request.attributes.get('_route') == 'index_expert' %}class="active"{% endif %}><a href="{{ url('index_expert') }}">Experts</a></li>
                                <li {% if app.request.attributes.get('_route') == 'index_angel' %}class="active"{% endif %}><a href="{{ url('index_angel') }}">Angels</a></li>
                                <li {% if app.request.attributes.get('_route') == 'page_show' and app.request.attributes.get('_route_params').slug == 'cpd' %}class="active"{% endif %}><a href="{{ path('page_show', {'slug': 'cpd'}) }}">CPD</a></li>
                                <li {% if app.request.attributes.get('_route') == 'post_index' %}class="active"{% endif %}><a href="{{ url('post_index') }}">News</a></li>
                                <li {% if app.request.attributes.get('_route') == 'contact_new' %}class="active"{% endif %}><a href="{{ url('contact_new') }}">Contact</a></li>
								<li><a href="https://www.facebook.com/groups/vetwoundlibrary/?fref=nf" target="_blank">Facebook</a></li>
        </ul>
    </nav>

<!-- Desktop / Tablet Menu -->		
            <nav id="main-nav" class="top-bar" data-topbar role="navigation">
            
                        <section class="top-bar-section">
						    <div class="row">
                    <div class="large-12 medium-12 columns">
                            <ul>
                                <li {% if app.request.attributes.get('_route') == 'homepage' %}class="active"{% endif %}><a href="{{ url('homepage') }}">Home</a></li>
                                <li class="{% if app.request.attributes.get('_route') == 'page_show' and app.request.attributes.get('_route_params').slug == 'about' %}active{% endif %} has-dropdown"><a href="{{ path('page_show', {'slug': 'about'}) }}">About</a>
								 <ul class="dropdown">
                                         <li {% if app.request.attributes.get('_route') == 'index_expert' %}class="active"{% endif %}><a href="{{ url('index_expert') }}">Our experts</a></li>
                               			 <li {% if app.request.attributes.get('_route') == 'index_angel' %}class="active"{% endif %}><a href="{{ url('index_angel') }}">Our angels</a></li>
                                    </ul>
								
								</li>
                                <li class="{% if app.request.attributes.get('_route') == 'public_case_study_index' %}active{% endif %} has-dropdown"><a href="{{ url('public_case_study_index') }}">Case Studies</a>
                                   
								   
				  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    		 <ul class="dropdown">
                                        <li><a href="{{ url('product_index') }}">All Small animal</a></li>
										<li><a href="{{ url('product_index') }}">All equine</a></li>
										<li><a href="{{ url('product_index') }}">All exotics</a></li>
										<li><a href="{{ url('case_study_index') }}">Your case studies</a></li>
										<li><a href="{{ url('case_study_new') }}">Submit new</a></li>
		
                                    </ul>
	
                        {% else %}
                           		 <ul class="dropdown">
										<li><a href="{{ url('homepage') }}register">Submit case study</a></li>
                                    </ul>
                        {% endif %}
				
                                </li>
								
					    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                              <li {% if app.request.attributes.get('_route') == 'product_index' %}class="active"{% endif %}><a href="{{ url('product_index') }}">Products</a></li>
                        {% endif %}
                               
                                <li {% if app.request.attributes.get('_route') == 'page_show' and app.request.attributes.get('_route_params').slug == 'cpd' %}class="active"{% endif %}><a href="{{ path('page_show', {'slug': 'cpd'}) }}">CPD</a></li>
                                <li {% if app.request.attributes.get('_route') == 'post_index' %}class="active"{% endif %}><a href="{{ url('post_index') }}">News</a></li>
                                <li {% if app.request.attributes.get('_route') == 'contact_new' %}class="active"{% endif %}><a href="{{ url('contact_new') }}">Contact</a></li>
								<li><a href="https://www.facebook.com/groups/vetwoundlibrary/?fref=nf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								
                            </ul>
							</div>
                </div>
                        </section>
                    
            </nav>
            {% block body %}
                {% block fos_user_includes %}
                {% endblock %}
            {% endblock %}
            <div id="main-footer">
                <div class="row">
                    <div class="large-6 medium-5 columns">
                        <h4>About VWL</h4>
                        <p>The Veterinary Wound Library provides vets and nurses with specialist advice, clinical support, education and product expertise.</p>
                        <p> 01953449059<br>
                            <script type="text/javascript">function gen_mail_to_link(a,c,b){document.write('<A HREF="mailto');document.write(":"+a+"@");document.write(c+"?subject="+b+'">'+a+"@"+c+"</A>")}</script>
                            <script type="text/javascript">gen_mail_to_link("info","vetwoundlibrary.com","Vet Wound Libary Website Enquiry");</script></p>
                    </div>
                    <div class="large-offset-1 large-5 medium-5 medium-offset-1 hide-for-small-only columns">
                        <div class="row">
                            <div class="large-6 medium-6 columns">
                                <h4>ACCOUNT INFO</h4>
                                <ul>
                                    <li><a href="{{ url('homepage') }}account">My account</a></li>
                                    <li><a href="{{ url('homepage') }}register">Change details</a></li>
                                    <li><a href="{{ url('homepage') }}refund-policy">Refund Policy</a></li>
									<li><a href="{{ url('homepage') }}privcy-policy">Privacy Policy</a></li>
									<li><a href="{{ url('homepage') }}cookie-policy">Cookie Policy</a></li>
                                    <li><a href="{{ url('homepage') }}register">Register</a></li>           
								</ul>
                            </div>
                            
                            <div class="large-6 medium-6 columns">
                                <h4>Quick links</h4>
                                <ul>
                                <li {% if app.request.attributes.get('_route') == 'product_index' %}class="active"{% endif %}><a href="{{ url('product_index') }}">Products</a></li>
                                <li {% if app.request.attributes.get('_route') == 'index_expert' %}class="active"{% endif %}><a href="{{ url('index_expert') }}">Experts</a></li>
                                <li {% if app.request.attributes.get('_route') == 'index_angel' %}class="active"{% endif %}><a href="{{ url('index_angel') }}">Angels</a></li>
                                <li {% if app.request.attributes.get('_route') == 'page_show' and app.request.attributes.get('_route_params').slug == 'cpd' %}class="active"{% endif %}><a href="{{ path('page_show', {'slug': 'cpd'}) }}">CPD</a></li>
                                <li {% if app.request.attributes.get('_route') == 'post_index' %}class="active"{% endif %}><a href="{{ url('post_index') }}">News</a></li>
                                <li {% if app.request.attributes.get('_route') == 'contact_new' %}class="active"{% endif %}><a href="{{ url('contact_new') }}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="legal-footer">
                <div class="row">
                    <div class="large-9 medium-9 columns">
                        <p>&copy; <?php echo date("Y"); ?> Vet Wound Library &nbsp;|&nbsp; <a href="http://kallkwikburystedmunds.co.uk/" target="_blank">Designed by Kall Kwik Bury St Edmunds</a></p>
                        <p>Company number: 06571239 &nbsp;|&nbsp; VAT Reg. 138631213</p>
                    </div>
                    <div class="large-3 medium-3 columns"> <img src="/images/main/payment-icons.png" alt="Payment Methods" class="paymenticons" />
                        <p>All payments are protected by 256 SSL Security.</p>
                    </div>
                </div>
            </div>
			
			 </main>
			
			
            {% block javascript %}
                <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js') }}"></script>
                <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.min.js') }}"></script>
                <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js') }}"></script>
                <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js') }}"></script>
				
				<script src="{{ asset('js/foundation.dropdown.js') }}"></script>
				<script src="{{ asset('js/foundation.topbar.js') }}"></script>
				<script src="{{ asset('js/foundation.equalizer.js') }}"></script>
								
				<script>$(document).foundation();</script>
				
				<script>var nav = responsiveNav(".nav-collapse");</script>

            {% endblock %}
            {% block page_js %}{% endblock %}
        </div>
		
		
    </body>
</html>
