{% if wo_breadcrumbs()|length %}
    {%- spaceless -%}
        <ul id="{{ listId }}" class="{{ listClass }}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            {% for b in breadcrumbs %}
                <li{% if loop.last %} class="current"{% endif %}>
                {% if b.url and not loop.last %}
                <a href="{{ b.url }}" itemprop="url"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
                    {% endif %}
                    <span itemprop="title">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</span>
                    {% if b.url and not loop.last %}
                </a>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {%- endspaceless -%}
{% endif %}
