{% extends 'base.html.twig' %}

{% block body %}
    <section id="homepage-slider" style="background-image: url(
        {% if homepage.images is not empty %}
            {{ vich_uploader_asset(random(homepage.images), 'imageFile') | imagine_filter('homepage_banner') }}
        {% endif %}
    );">

        <img src="{{ asset('images/home/slider-mobile1.jpg') }}" class="show-for-small-only" />

        <div class="row">
            <div class="large-5 medium-8 columns">
                <h1>Independent Specialist Support <span class="home-subtitle">for animal wound management</h1>
                <div class="white-divider"></div>
                <p>The answer to your wound question is HERE! Specialist help, trial dressings and independent product support.</p>

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('fos_user_registration_register') }}" class="buttons">REGISTER</a>
                <a href="{{ url('fos_user_security_login') }}" class="buttons">LOGIN</a>
                {% endif %}
				
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('case_study_new') }}" class="buttons">SUBMIT CASE STUDY</a>
             
                {% endif %}

            </div>
        </div>

    </section>
	
	
	
	
    <section id="homepage-services">
        <div class="row">
            <div class="large-3 medium-3 columns">
   
                    <div class="servicebox">

                        <img src="{{ asset('images/home/home-service4.png') }}" alt="Expert Help" />
                        <h4>Expert Help</h4>
                        <p>Get help today from our expert panel. We help with any case in any species from through our expert clinical panel. Help is unlimited for members.</p>
                    </div>
         
            </div>
            <div class="large-3 medium-3 columns">
                <div class="servicebox">
                    <img src="{{ asset('images/home/home-service2.png') }}" alt="Trial Dressing" />
                    <h4>Trial Dressing</h4>
                    <p>Our informative database full of dressings that you can try for FREE using our product selection tool and case sharing software.</p>
                </div>
            </div>
            <div class="large-3 medium-3 columns">
                <div class="servicebox">
                    <img src="{{ asset('images/home/home-service3.png') }}" alt="Practice CPD" />
                    <h4>Practice CPD</h4>
                    <p>Time to train the whole team, then join with CPD and we will come to you. Includes annual membership.</p>
                </div>
            </div>
            <div class="large-3 medium-3 columns">
                <div class="servicebox">
                    <img src="{{ asset('images/home/home-service1.png') }}" alt="Case studies" />
                    <h4>Case studies</h4>
                    <p>The dressing trial system generates case studies that we can all learn from. Find cases like yours and see what others learned.</p>
                </div>
            </div>
        </div>
    </section>
	
	
	 <section id="homepage-support">
	     <div class="row">
	  <div class="large-12 medium-12 columns">
               <h3>The Veterinary Wound Library is supported by:</h3>
			   <br />
            </div>
	          </div>
	 	  <div class="row">
            <div class="large-2 large-offset-2 medium-3 small-6 columns end">
				  <a href="https://www.beva.org.uk/home" target="_blank"><img src="{{ asset('images/support/british-equine.png') }}" alt="British Equine Veterinary Associations" /></a>
			</div>
			<div class="large-2 medium-3 small-6 columns end">
				  <a href="http://knowledge.rcvs.org.uk/home/" target="_blank"><img src="{{ asset('images/support/RCVS.png') }}" alt="RCVS Knowledge" /></a>
			</div>
			<div class="large-2 medium-3 small-6 columns end">
				  <a href="http://www.xlequine.co.uk/" target="_blank"><img src="{{ asset('images/support/XLequine.png') }}" alt="XL Equine" /></a>
			</div>
			<div class="large-2 medium-3 small-6 columns end">
				 <a href="http://www.bvna.org.uk/" target="_blank"> <img src="{{ asset('images/support/BVNA.png') }}" alt="BVNA" /></a>
			</div>
		</div>
	</section>
	
	
    <section id="homepage-about">
        <div class="row">
            <div class="large-6 medium-6 columns">
                <img src="{{ asset('images/home/mac.png') }}" alt="About Vet Wound Libary">
            </div>
            <div class="large-6 medium-6 columns">
                <h3>Help at your fingertips</h3>
                <div class="blue-divider"></div>
                <p><strong>From frustrating cases to extensive reconstruction we can coach you through with access to the very best technology to help you heal. </strong></p>

                <div class="about-wrap">
                    <p>
                        <span>1</span> Send us your case study using our easy-to-use website form.
                    </p>
                </div>
                <div class="clear"></div>
                <div class="about-wrap">
                    <p>
                        <span>2</span> We send your case study to the best expert and send you back our advice within 24 hours of submiting the form. (Normally quicker!)
                    </p></div>
                <div class="clear"></div>
                <div class="about-wrap">
                    <p>
                        <span>3</span> Request FREE trial dressings, as adviced by our experts, from a whole range of manufacturers and distributors.
                    </p></div>
            </div>
        </div>
    </section>
	
    <section id="homepage-case-studies">
        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="mini-introduction">
                    <h3>Case Studies</h3>
                    <div class="mini-divider"></div>
                    <p><strong>View examples of previous case studies. Register today to view our full extensive library.</strong></p>
                </div>
            </div>
            <div class="clear"></div>
            {% for case_study in case_studies %}
                <div class="large-4 medium-4 columns end">
                    <div class="home-case-study-single">
                        <a href="{{ path('public_case_study_single', { slug: case_study.slug }) }}">
                            {% if case_study.image is not null %}
                                <img src="{{ vich_uploader_asset(case_study.image, 'imageFile') | imagine_filter('case_study_public_thumb') }}" alt="{{ case_study.injuryName }}" />
                            {% else %}
                                <img src="{{ '/images/example.png' | imagine_filter('case_study_public_thumb') }}" alt="{{ case_study.injuryName }}">
                            {% endif %}
                        </a>
                        <h4>{{ case_study.injuryName }}</h4>
                        <p>{{ case_study.summary|length > 150 ? case_study.summary|slice(0,150) ~ '...' : case_study.summary }}<a href="{{ path('public_case_study_single', { slug: case_study.slug}) }}">Read full case study.</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="homepage-pricing">
        <div class="row">
            <div class="large-12 medium-12 columns">
                <div class="mini-introduction">
                    <h3>How much does it cost?</h3>
                    <div class="mini-divider"></div>
                    <p><strong>Access to all features including specialist support:</strong></p>
                </div>
            </div>
           
            <div class="large-4 medium-4 columns">
                <ul class="pricing-table">
                    <li class="title">3 MONTHS</li>
					<li class="title">Individual </li>
                    <li class="price">£55</li>
                    <li class="bullet-item">View all case studies</li>
                    <li class="bullet-item">FREE trial dressings</li>
					<li class="bullet-item">Member only discounts and offers from VWL supporters</li>
                    <li class="bullet-item">Wound Advice from Experts</li>
                    <li class="bullet-item">3 months access only</li>
                    <li class="cta-button"><a class="button" href="{{ url('homepage') }}register">Signup today</a></li>
                </ul>
            </div>
            <div class="large-4 medium-4 columns">
                <ul class="pricing-table">
                    <li class="title">ANNUAL MEMBERSHIP</li>
					<li class="title">Individual - per practice</li>
                    <li class="price">£195</li>
                    <li class="bullet-item">View all case studies</li>
                    <li class="bullet-item">Submit unlimited Case Studys</li>
                    <li class="bullet-item">FREE trial dressings</li>
					<li class="bullet-item">Member only discounts and offers from VWL supporters</li>
                    <li class="bullet-item">Wound Advice from Experts</li>
                    <li class="bullet-item">12 months access</li>
                    <li class="cta-button"><a class="button" href="{{ url('homepage') }}register">Signup today</a></li>
                </ul>
            </div>
            <div class="large-4 medium-4 columns">
                <ul class="pricing-table">
                    <li class="title">CPD MEMBERSHIP</li>
					<li class="title">Per practice</li>
                    <li class="price">£575 + Annual Membership</li>
                    <li class="bullet-item">View all case studies</li>
                    <li class="bullet-item">Submit unlimited Case Studys</li>
                    <li class="bullet-item">FREE trial dressings</li>
                    <li class="bullet-item">Tailored in house CPD from your very own Bandaging Angel</li>
                    <li class="bullet-item">Dressing review and protocol development</li>
                    <li class="cta-button"><a class="button" href="{{ url('homepage') }}register">Signup today</a></li>
                </ul>
            </div>


            <div class="large-12 medium-12 columns">

                <p class="teamrates"><strong>Contact us about associate and discounted membership rates!</strong></p></div>

        </div></section>
{% endblock %}

