{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css') }}">
{% endblock %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>{{ page.title }}</h1>
                <h3 class="subtitle">{{ page.subtitle }}</h3>
            </div>
            <div class="large-2 medium-2 columns">
                {% if page.iconImage is not null %}
                    <img src="{{ vich_uploader_asset(page.iconImage, 'imageFile') | imagine_filter('page_icon') }}" alt="{{ page.title }}" alt="Our Wound Experts" class="banner-icon" />
                {% else %}
                    <img src="{{ asset('images/icons/case-studies.png') }}" alt="{{ page.title }}" class="banner-icon"/>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row padded-row">
        <div class="large-8 small-12 columns">
		  {% if page.images is not empty %}
                <div id="carousel">
                    {% for image in page.images %}
                        <div>
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('carousel_image') }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
		
		
            <p>{{ page.content | raw }}</p>
          
        </div>
        <div class="large-4 small-12 columns hide-for-small-only hide-for-medium-only">
            {% include 'sidebar/page.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.js') }}"></script>
    <script>
        $('#carousel').slick();
    </script>
{% endblock %}