<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app-admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all-skins.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{{ asset('https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js') }}"></script>
        <script src="{{ asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="{{ url('homepage') }}" class="logo">
            <span class="logo-mini"><b>V</b>WL</span>
            <span class="logo-lg"><b>Vet Wound </b>Library</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <i class="fa fa-user"></i>
                </div>
                <div class="pull-left info">
                    <p>
                        <a href="{{ path('admin_index') }}">
                            {{ app.user.getFirstName() }} {{ app.user.getLastName() }}
                        </a>
                    </p>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Case Studies</li>
                <!-- Optionally, you can add icons to the links -->
                <li {% if app.request.attributes.get('_route') == 'admin_case_study_index' or app.request.attributes.get('_route') == 'admin_case_study_show' %}class="active"{% endif %}>
                    <a href="{{ url('admin_case_study_index') }}"><i class="fa fa-book"></i>
                        <span>Active Case Studies</span>
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'admin_case_study_inactive_index' %}class="active"{% endif %}>
                    <a href="{{ url('admin_case_study_inactive_index') }}"><i class="fa fa-archive"></i> <span>Archived Case Studies</span></a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li {% if app.request.attributes.get('_route') == 'admin_case_study_help_index' %}class="active"{% endif %}>
                        <a href="{{ path('admin_case_study_help_index') }}"><i class="fa fa-question-circle"></i> <span>Help Requested</span></a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'admin_case_study_new' %}class="active"{% endif %}>
                        <a href="{{ path('admin_case_study_new') }}"><i class="fa fa-archive"></i> <span>New Case Study</span></a>
                    </li>
                    <li class="header">Shop</li>
                    <li {% if app.request.attributes.get('_route') == 'admin_order_index' %}class="active"{% endif %}><a href="{{ url('admin_order_index') }}"><i class="fa fa-shopping-cart"></i> <span>Orders</span></a></li>
                    <li {% if app.request.attributes.get('_route') == 'admin_product_index' %}class="active"{% endif %}><a href="{{ url('admin_product_index') }}"><i class="fa fa-credit-card"></i> <span>Products</span></a></li>
                    <li {% if app.request.attributes.get('_route') == 'admin_product_category_index' %}class="active"{% endif %}><a href="{{ url('admin_product_category_index') }}"><i class="fa fa-list-ul"></i> <span>Categories</span></a></li>
                    <li {% if app.request.attributes.get('_route') == 'admin_manufacturer_index' %}class="active"{% endif %}><a href="{{ url('admin_manufacturer_index') }}"><i class="fa fa-building"></i> <span>Manufacturers</span></a></li>
                    <li {% if app.request.attributes.get('_route') == 'admin_distributor_index' %}class="active"{% endif %}><a href="{{ url('admin_distributor_index') }}"><i class="fa fa-truck"></i> <span>Distributors</span></a></li>
                    <li class="header">Content</li>
                    <li {% if app.request.attributes.get('_route') == 'admin_page_index' %}class="active"{% endif %}><a href="{{ url('admin_page_index') }}"><i class="fa fa-file-text-o"></i> <span>Pages</span></a></li>
                    <li {% if app.request.attributes.get('_route') == 'admin_static_page_index' %}class="active"{% endif %}><a href="{{ url('admin_static_page_index') }}"><i class="fa fa-file-text"></i> <span>Static Pages</span></a></li>
                    <li {% if app.request.attributes.get('_route') == 'admin_post_index' %}class="active"{% endif %}><a href="{{ url('admin_post_index') }}"><i class="fa fa-newspaper-o"></i> <span>News</span></a></li>
                {% endif %}
                <li class="header">Users</li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('admin_user_index', { role: 'expert'}) }}"><i class="fa fa-circle-o"></i> View Experts</a></li>
                            <li><a href="{{ path('admin_user_index', { role: 'angel' }) }}"><i class="fa fa-circle-o"></i> View Angels</a></li>
                            <li><a href="{{ path('admin_user_index', { role: 'user' }) }}"><i class="fa fa-circle-o"></i> <span>View Users</span></a></li>
                        </ul>
                    </li>
                {% endif %}
                <li {% if app.request.attributes.get('_route') == 'admin_contact_index' %}class="active"{% endif %}>
                    <a href="{{ path('admin_contact_index') }}"><i class="fa fa-envelope"></i> <span>Emails</span></a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'admin_plan_index' %}class="active"{% endif %}>
                    <a href="{{ path('admin_plan_index') }}"><i class="fa fa-plus"></i> <span>Subscription Plans</span></a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% block heading %}Dashboard{% endblock %}
                <small>{% block sub_heading %}{% endblock %}</small>
            </h1>
            {{ wo_render_breadcrumbs({ viewTemplate: 'WhiteOctoberBreadcrumbsBundle::breadcrumbs.html.twig'}) }}
        </section>


        <section class="content">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Success!</h4>
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-error alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Warning!</h4>
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
            <div class="clearfix"></div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">

        </div>
        <strong>Vet Wound Library</strong>
    </footer>
</div>

{% block javascript %}
    {{ tinymce_init() }}
    <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/app.min.js') }}"></script>
{% endblock %}

</body>
</html>
