{% extends 'admin/layout.html.twig' %}

{% block body %}
    {% block before_content %}{% endblock %}
    <div class="row">
        <div class="col-xs-12 col-sm-push-6 col-sm-6 col-md-push-7 col-md-5 col-lg-push-8 col-lg-4">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="col-xs-12 col-sm-pull-6 col-sm-6 col-md-pull-5 col-md-7 col-lg-pull-4 col-lg-8">
            {% block main_content %}{% endblock %}
        </div>
    </div>
    {% block after_content %}{% endblock %}
{% endblock %}