{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Orders - Vet Wound Library{% endblock %}
{% block heading %}View Orders{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {% if orders is not empty %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="200">Product</th>
                            <th>User</th>
                            <th>Distributor</th>
                            <th width="200">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_order_show', { id: order.id }) }}">
                                        {{ order.product.productName }}
                                    </a>
                                </td>
                                <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
                                <td>{{ order.distributor.name }}</td>
                                <td>{{ order.date|date("g:ia\, d/m/Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No orders</h1>
            {% endif %}
        </div>
        {% if knp_pagination_render(orders) != '\n' %}
            <div class="box-footer">
                {{ knp_pagination_render(orders) }}
            </div>
        {% endif %}
    </div>
{% endblock %}