{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}
    Order Place by: {{ order.user.firstName }} {{ order.user.lastName }} - Vet Wound Library
{% endblock %}
{% block heading %}
    Order Place by: {{ order.user.firstName }} {{ order.user.lastName }}
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Order - {{ order.product.productName }}</h3>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>User</dt>
                <dd>{{ order.user.firstName }} {{ order.user.lastName }}</dd>
                <dt>Email</dt>
                <dd>
                    <a href="mailto:{{ order.user.email }}">
                        {{ order.user.email }}
                    </a>
                </dd>
                <dt>Product</dt>
                <dd>
                    <a href="{{ path('admin_product_show', { slug: order.product.slug }) }}">
                        {{ order.product.productName }}
                    </a>
                </dd>
                <dt>Distributor</dt>
                <dd>
                    <a href="{{ path('admin_distributor_show', { id: order.distributor.id }) }}">
                        {{ order.distributor.name }}
                    </a>
                </dd>
                <dt>Wholesaler</dt>
                <dd>{{ order.wholesalerName }}</dd>
                <dt>Account Number</dt>
                <dd>{{ order.wholesalerAccountNumber }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
