<aside id="sidebar">
    
    <div class="widget">
        <h3>CATEGORIES</h3>
        <div class="widgetwrap"> <a href="#" class="category-sidebar">> General news</a> <a href="#" class="category-sidebar">> Products</a> <a href="#"class="category-sidebar">> CPD</a> <a href="#" class="category-sidebar">> General news</a> </div>
    </div>
    <div class="widget widget2">
        <h3>Select</h3>
        <div class="widgetwrap">
		 <a href="#" class="category-sidebar">Case studies</a> 
		 <a href="#" class="category-sidebar">Dave</a> 
		 <a href="#"class="category-sidebar">Jim</a> 
		 <a href="#" class="category-sidebar">Fiona</a> </div>
    </div>
</aside>