{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-12 medium-12 columns">
                <h1>Register for Vet Wound Library</h1>
                <h3 class="subtitle">Get access to the only dedicated wound library in the UK for just £192 a year.</h3>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="row">
            <div class="large-12 medium-12 columns">
                <p style="margin-bottom: 0px;">Whether you are a single location practice or a multibranch organisation you can become a Veterinary Wound Library member and benefit from FREE trial dressings, expert advice and support plus access to all pass case-study data.
                    <br><br>
                    Join with practice based CPD and we’ll deliver a tailored course for your entire team, with a mini audit and a personalised product protocol. If you want to improve practice, reduce waste, gain confidence, or help a specific case.</p>
            </div>
        </div>
    </div>
    <div id="register" class="page page-grey">
        <div class="row">
            <div class="small-12 columns">
                {{ form_start(form) }}
                    <fieldset>
                        <legend>Account Information</legend>
                        {{ form_row(form.username) }}
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                {{ form_row(form.firstName) }}
                            </div>
                            <div class="small-12 medium-6 columns">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                    </fieldset>
                <button type="submit">Register</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}