{% extends 'admin/layout.html.twig' %}

{% block title %}View Emails - Vet Wound Library{% endblock %}
{% block heading %}View all Emails{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    {% if contacts is not null %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th class="hidden-xs">Subject</th>
                                <th>Date</th>
                                <th>Assigned</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contact in contacts %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_contact_show', { id : contact.id }) }}">
                                            {{ contact.name }}
                                        </a>
                                    </td>
                                    <td class="hidden-xs">{{ contact.subject }}</td>
                                    <td>{{ contact.dateSent|date('d/m/Y') }}</td>
                                    <td>
                                        {% if contact.assigned %}
                                            {{ contact.assigned.firstName }}
                                            {{ contact.assigned.lastName }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if contact.replied %}
                                            <span class="label label-success">Replied</span>
                                        {% else %}
                                            <span class="label label-warning">No Reply</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>No Emails have been saved</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}