{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}
    Email from: {{ contact.name }} - Vet Wound Library
{% endblock %}
{% block heading %}
        Email from: {{ contact.name }}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Product Category</h3>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{ contact.name }}</dd>
                <dt>Email</dt>
                <dd>
                    <a href="mailto:{{ contact.email }}">
                        {{ contact.email }}
                    </a>
                </dd>
                <dt>Phone Number</dt>
                <dd>{{ contact.phoneNumber }}</dd>
                <dt>Subject</dt>
                <dd>{{ contact.subject }}</dd>
                <dt>Message</dt>
                <dd>{{ contact.content }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if delete_form is defined %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Action
                </h3>
            </div>
            <div class="box-body">
                <div class="modal fade modal-danger">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <p>This action will permanently delete this email.</p>
                                <p>Do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                {{ form_start(delete_form) }}
                                {{ form_row(delete_form.submit) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button"class="btn btn-block btn-danger" data-toggle="modal" data-target=".modal">Delete Email</button>
            </div>
        </div>
    {% endif %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        {{ form_start(form) }}

            <div class="box-body">
                <div class="form-group">
                    {{ form_row(form.replied) }}
                </div>
                <div class="form-group">
                     {{ form_row(form.assigned) }}
                </div>
            </div>
            <div class="box-footer">
                {{ form_row(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}