{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Products - Vet Wound Library{% endblock %}
{% block heading %}View Products{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if products is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Published</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_product_show', { slug : product.slug }) }}">{{ product.productName }}</a>
                            </td>
                            <td>
                            {% if product.category is not null %}
                                {{ product.category.name }}
                            {% else %}
                                -
                            {% endif %}
                            </td>
                            <td>{{ product.slug }}</td>
                            <td>
                                {% if product.published %}
                                    <i class="fa fa-circle"
                                       style="color: #27e833;"></i>
                                {% else %}
                                    <i class="fa fa-circle"
                                       style="color: #f9152f;"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No products have been added</h1>
            {% endif %}
        </div>
        {% if knp_pagination_render(products) != '\n' %}
            <div class="box-footer">
                {{ knp_pagination_render(products) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_product_new') }}" class="btn btn-block btn-primary">Add Product</a>
        </div>
    </div>
{% endblock %}