{% extends 'admin/sidebar_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block title %}
    {% if product.productName is not null %}
        {{ product.productName }}
    {% else %}
        New Product
    {% endif %} - Vet Wound Library
{% endblock %}
{% block heading %}
    {% if product.productName is not null %}
        {{ product.productName }}
    {% else %}
        New Product
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Product</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.productName) }}
            </div>
            <div class="form-group">
                {{ form_row(form.genericName) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group">
                {{ form_row(form.price) }}
            </div>
            <div class="form-group">
                {{ form_row(form.instructions) }}
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">SEO</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.seoTitle) }}
            </div>
            <div class="form-group">
                {{ form_row(form.metaDescription) }}
            </div>
            <div class="form-group">
                {{ form_row(form.slug) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Images</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label>Product Images</label>
            </div>
            {% if product.images is not empty %}
                <div class="row">
                    {% for image in product.images %}
                        <div class="col-sm-12 col-md-3" style="margin-bottom: 2rem;">
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('product_admin_thumb_collection') }}" alt="{{ product.productName }}" style="width: 100%"/>
                            <button data-href="{{ url('image_delete', {id: image.id}) }}" class="btn btn-block btn-danger btn-flat btn-delete-img">Delete Image</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ url('image_upload') }}" class="dropzone-box" id="dropzonebox" enctype="multipart/form-data">
                <div class="dz-message">Drop your images in here.</div>
            </form>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Action
            </h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_product_new') }}" style="margin-bottom:8px;" class="btn btn-block btn-default">New Product</a>
            {% if delete_form is defined %}
                <div class="modal fade modal-danger">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <p>This action will permanently delete this product.</p>
                                <p>Do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                {{ form_start(delete_form) }}
                                {{ form_row(delete_form.submit) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button"class="btn btn-block btn-danger" data-toggle="modal" data-target=".modal">Delete Product</button>
            {% endif %}
            {{ form_start(form) }}
            {{ form_widget(form._token) }}
            {% if product.slug is not null %}
                <a href="{{ path('product_show', {slug : product.slug}) }}" class="btn btn-default btn-block" style="margin: 8px 0;">View Product</a>
            {% endif %}
            {{ form_row(form.submit) }}
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        {% if product.featuredImage is not null %}
            <div class="box-body">
                <img src="{{ vich_uploader_asset(product.featuredImage, 'imageFile') | imagine_filter('product_admin_thumb') }}" alt="{{ product.productName }}" id="featured-image" style="width: 100%"/>
                <a data-href="{{ path('admin_delete_product_image', {id : product.id}) }}" class="btn btn-block btn-danger remove-image-button" style="margin-top: 8px;">Remove Image</a>
            </div>
        {% endif %}
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.featuredImage) }}
            </div>
            <div class="form-group">
                {{ form_row(form.published) }}
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Category
            </h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>
            <div class="form-group">
                {{ form_row(form.manufacturer) }}
            </div>
            <div class="form-group">
                <label>Choose Distributors</label>
                {{ form_errors(form.distributors) }}
                {% for checkbox in form.distributors %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="{{ checkbox.vars.full_name }}"
                                   id="{{ checkbox.vars.id }}"
                                   value="{{ checkbox.vars.value }}"
                                    {% if checkbox.vars.checked %}
                                        checked
                                    {% endif %}>
                            {{ checkbox.vars.label }}
                        </label>
                        {% do checkbox.setRendered %}
                    </div>
                {% endfor %}
                {{ form_row(form.distributors) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script>
        $(function() {
            var count = 0;

            $('#dropzonebox').dropzone({
                success: function(file, response) {
                    console.log(response);
                    var input = '<input type="hidden" name="images[' + count + ']" value="' + response + '">';
                    $('form[name="product"]').append(input);
                    count++;
                }
            });

            $('.btn-delete-img').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                      location.reload();
                    }
                });
            });

            $('.remove-image-button').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        $('#featured-image').toggle();
                        $('.remove-image-button').toggle();
                    }
                });
            });
        });
    </script>
{% endblock %}