{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Static Pages - Vet Wound Library{% endblock %}
{% block heading %}View all static pages{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {% if static_pages is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                        <th>Route</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for static_page in static_pages %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_static_page_show', {slug : static_page.slug}) }}">
                                    {{ static_page.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin_static_page_show', {slug : static_page.slug}) }}">
                                    {{ static_page.slug }}</td>
                                </a>
                            <td>
                                <a href="{{ path('admin_static_page_show', {slug : static_page.slug}) }}">
                                    {{ static_page.route }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}