{% extends 'admin/sidebar_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block title %}
    {{ static_page.name }} - Vet Wound Library
{% endblock %}

{% block heading %}
    {{ static_page.name }}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Page Settings</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.upperField) }}
            </div>
            <hr>
            <div class="form-group">
                {{ form_row(form.lowerField) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="box-body">
            {% if static_page.images is not empty %}
                <div class="row">
                    {% for image in static_page.images %}
                        <div class="col-sm-12 col-md-3" style="margin-bottom: 2rem;">
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('product_admin_thumb_collection') }}" alt="{{ static_page.name }}" style="width: 100%"/>
                            <button data-href="{{ url('image_delete', {id: image.id}) }}" class="btn btn-block btn-danger btn-flat btn-delete-img">Delete Image</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ url('image_upload') }}" class="dropzone-box" id="dropzonebox" enctype="multipart/form-data">
                <div class="dz-message">Drop your images in here.</div>
            </form>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        <div class="box-footer">
            <a href="{{ path(static_page.route) }}" class="btn btn-default btn-block" style="margin-bottom: 8px;">View Page</a>
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script>
        $(function() {
            var count = 0;
            var fieldCount = 0;
            var staticPageForm = $('form')

            $('#dropzonebox').dropzone({
                success: function(file, response) {
                    var input = '<input type="hidden" name="images[' + count + ']" value="' + response + '">';
                    staticPageForm.prepend(input);
                    count++;
                }
            });

            $('.btn-delete-img').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}