{% extends 'base.html.twig' %}

{% block body %}
<div class="page page-darkgrey">
  <div class="row">
    <div class="large-10 medium-10 columns">
      <h1>Welcome {{ app.user.firstName }}</h1>
      <h3 class="subtitle">You can add and view your case studies here.</h3>
    </div>
    <div class="large-2 medium-2 columns"> <img src="{{ asset('images/icons/your-account.png') }}" alt="Your Account" class="banner-icon"/> </div>
  </div>
</div>
{% for flash_message in app.session.flashbag.get('warning') %}
<div class="row padded-row">
  <div class="large-12 small-12 columns">
    <div data-alert class="alert-box warning"> {{ flash_message }} </div>
  </div>
</div>
{% endfor %}
    {% for flash_message in app.session.flashbag.get('success') %}
<div class="row padded-row">
  <div class="large-12 small-12 columns">
    <div data-alert class="alert-box success"> {{ flash_message }} </div>
  </div>
</div>
{% endfor %}
    {% for flash_message in app.session.flashbag.get('error') %}
<div class="row padded-row">
  <div class="large-12 small-12 columns">
    <div data-alert class="alert-box success"> {{ flash_message }} </div>
  </div>
</div>
{% endfor %}
<div class="row padded-row">
  <div class="large-8 small-12 columns">
  
  <div class="case-studies-panel">
  
    <h2>Case Studies</h2>
    <div class="row">
      <div class="large-4 columns"> 
	  <a href="{{ url('case_study_index') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Your case studies" class="case-logo" /></a>
	  <a href="{{ url('case_study_index') }}"><p>Submit New</p></a>
	  
	   </div>
      <div class="large-4 columns">
	    
		<a href="{{ url('case_study_index') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Your case studies" class="case-logo" /></a>
		<a href="{{ url('case_study_index') }}"><p>Your ongoing</p></a>
		 </div>
      <div class="large-4 columns">
	  
	  <a href="{{ url('case_study_index') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Your case studies" class="case-logo" /></a>
	  <a href="{{ url('case_study_index') }}"><p>All case studies</p></a>
	  
	   </div>
    </div>
	  </div>
	
	  <div class="case-studies-panel">
	
	 <h2>Products</h2>
    <div class="row">
      <div class="large-4 columns">
	  
	   <a href="{{ url('case_study_index') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Your case studies" class="case-logo" /></a>
	  <a href="{{ url('case_study_index') }}"><p>All case studies</p></a>
   
    </a>
	  
	  </div>
      <div class="large-4 columns"> 
	  <a href="{{ url('case_study_index') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Your case studies" class="case-logo" /></a>
	  <a href="{{ url('case_study_index') }}"><p>All case studies</p></a>
	  </div>
      <div class="large-4 columns"> 
	  <a href="{{ url('case_study_index') }}"><img src="{{ asset('images/main/logo.png') }}" alt="Your case studies" class="case-logo" /></a>
	  <a href="{{ url('case_study_index') }}"><p>All case studies</p></a>
	  </div>
    </div>
	
	
   </div>    </div>
   
   
   
  <div class="large-3 large-offset-1 small-12 columns">
  <div id="account-sidebar">
  
    <h3>Your details</h3>
    <p>
	<strong>First Name:</strong>  {{ app.user.firstName }} <br />
    <strong>Surname:</strong>  {{ app.user.lastName }}
	 </p>
	 
	<h3>Account details</h3>
    <p>
	<strong>Subscription type:</strong>  {{ app.user.firstName }} <br />
    <strong>Subscription end:</strong>  {{ app.user.lastName }}
	 </p>
    
    <hr />
     <h3>Change Account</h3>
    <p><a href="{{ path('fos_user_change_password') }}">Change Password</a><br>
    {% if is_granted('ROLE_SUBSCRIBED_USER') %} <a href="{{ path('account_subscription_cancel') }}">Cancel Subscription</a> {% endif %} </p>
     </div>
  </div>
</div>
{% endblock %}