{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-12 columns">
            <h1>View all orders you've placed</h1>
        </div>
        <div class="small-12 columns">
            {{ wo_render_breadcrumbs() }}
        </div>
        <div class="small-12 columns">
            <table width="100%">
                <thead>
                <tr>
                    <th width="200">Product</th>
                    <th>Distributor</th>
                    <th width="200">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{{ path('product_show', { slug: order.product.slug }) }}">
                                {{ order.product.productName }}
                            </a>
                        </td>
                        <td>{{ order.distributor.name }}</td>
                        <td>{{ order.date|date("g:ia\, d/m/Y") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}