{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-12 columns">
            <h1>Place a new order for {{ product.productName }}</h1>
            {{ form_start(form) }}
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        {{ form_row(form.wholesalerName) }}
                    </div>
                    <div class="small-12 medium-6 columns">
                        {{ form_row(form.wholesalerAccountNumber) }}
                    </div>
                </div>
                {{ form_row(form.distributor) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}