{% extends 'base.html.twig' %}

{% block body %}
<div class="row padded-row">
    <div class="small-12 columns">
        <h1>Products</h1>
        <p>
            Use our selection too below to find the correct product for your own situation.
        </p>
    </div>
    <div class="small-12 columns">
        <hr>
    </div>
    {% for product in products %}
        <div class="small-12 medium-4 columns {% if product == loop.last %}end{% endif %}">
            <h3><a href="{{ path('product_show', { slug: product.slug }) }}">{{ product.productName }}</a></h3>
            {% if product.featuredImage is not null %}
                <a href="{{ path('product_show', { slug: product.slug }) }}">
                    <img src="{{ vich_uploader_asset(product.featuredImage(), "imageFile") }}" alt="{{ product.productName }} - {{ product.genericName }}">
                </a>
            {% endif %}
            <span>{{ product.genericName }}</span>
            <br>

            <span>£{{ product.price|number_format(2, '.', ',') }}</span>
            <a href="{{ path('account_order_new', { slug : product.slug }) }}" class="button">Order {{ product.productName }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}