{% extends 'base.html.twig' %}

{% block body %}
    <div class="row padded-row">
        <div class="small-12 columns">
            <hr>
        </div>
        <div class="small-12 columns">
            <h3>{{ product.productName }}</h3>
            {% if product.featuredImage is not null %}
                <img src="{{ vich_uploader_asset(product.featuredImage, "imageFile") }}" alt="{{ product.productName }} - {{ product.genericName }}" width="50%">
            {% endif %}
            <span>{{ product.genericName }}</span>
            <br>
            <span>£{{ product.price|number_format(2, '.', ',') }}</span>
            <a href="{{ path('account_order_new', { slug : product.slug }) }}" class="button">Order {{ product.productName }}</a>
        </div>
    </div>
{% endblock %}