{% extends 'base.html.twig' %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Subscribe now for full access</h1>
                <h3 class="subtitle">Thanks for registering, to unlock all services, view our available tiers below.</h3>
            </div>
        
			 <div class="large-2 medium-2 columns"> <img src="/images/icons/plasters.png" alt="Subscribe now for full access" class="banner-icon"> </div>
        </div>
    </div>
    <div class="row padded-row">
        {% for plan in plans %}
            <div class="small-12 medium-4 columns end">
                <ul class="pricing-table">
                    <li class="title">{{ plan.name }}</li>
                    <li class="price">£{{ plan.amount/100|number_format(2, '.', ',') }}</li>
                    <li class="cta-button">
                        <a class="button" href="{{ path('subscription_new', {id: plan.id}) }}">Subscribe now</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}