{% extends 'base.html.twig' %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Our veterinary experts</h1>
                <h3 class="subtitle">View more about our veterinary experts.</h3>
            </div>
            <div class="large-2 medium-2 columns"> <img src="/images/icons/expert-icon.png" alt="Our Wound Experts" class="banner-icon"> </div>
        </div>
    </div>
	
	
	<div class="row padded-row" data-equalizer>
        <div class="large-12 medium-12 columns">
          
            {{ page.upperField | raw }}

            <hr />
            <h3>Our Veterinary Experts</h3>
            <br />
        </div>
      
		
		 {% for expert in experts %}
              <div class="small-12 medium-4 large-4 columns {% if angel == angels|last %}end{% endif %}">
			  <div class="expert-wrap" data-equalizer-watch>
                <a href="{{ path('show_expert', { id: expert.id }) }}">
                    {% if expert.image %}
                        <img src="{{ vich_uploader_asset(expert.image, 'imageFile') | imagine_filter('case_study_admin_thumb') }}" alt="{{ expert.firstName }} {{ expert.lastName }}" class="expert-photo">
                    {% else %}
                        <img src="{{ '/images/example.png' | imagine_filter('case_study_admin_thumb') }}" alt="{{ expert.firstName }} {{ expert.lastName }}" class="expert-photo">
                    {% endif %}
                </a>
                <a href="{{ path('show_expert', { id: expert.id }) }}">
                    <h3>{{ expert.firstName }} {{ expert.lastName }}</h3>
                </a>
                <p>{{ expert.description|length > 100 ? expert.description|slice(0,100) ~ '...' : expert.description }}</p>
                <a href="{{ path('show_expert', { id: expert.id }) }}" class="button small">View profile</a>
            </div>
			</div>
        {% endfor %}
		
		
        <div class="small-12 columns">
            {{ page.lowerField | raw }}
        </div>
    </div>
    <div class="row padded-row">
        <div class="large-12 medium-12 columns">
            <hr />
            <h3>Get in touch with our veterinary experts</h3>
            <p>For more information about our veterinary experts, please contact us.</p>
            <a href="contact/" class="button">Contact Us</a>
			
			
			
        </div>

    </div>

{% endblock %}