{% extends 'base.html.twig' %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-9 medium-9 columns">
                <h1>Bandaging Angels</h1>
                <h3 class="subtitle">Your Bandaging Angel is a specialist veterinary nurse trained to help practices refine and update their wound care and bandaging.</h3>
            </div>
            <div class="large-3 medium-3 columns"> <img src="/images/main/angels.png" alt="Bandaging Angels Logo"> </div>
        </div>
    </div>
    <div class="row padded-row">
      
        <div class="large-12 medium-12 columns">
            <p>
                The Veterinary Wound Library Bandaging Angels are a team of dedicated veterinary nurses who have been trained to deliver the latest in wound management and bandaging techniques while helping to update practice standards.
                <br /><br />
                Covering both equine and small animal practice the Bandaging Angels deliver best practice training (CPD) for the whole team using evidence based practice.
                ​​<br /><br />
                ​The Bandaging Angels are supported by experts from the Veterinary Wound Library to ensure the recommendations and advice given is based on the highest clinical standards and evidence based medicine.
                <br /><br />
                Our aim is to improve animal welfare and clinical outcomes through a consistent gold standard approach to wound management and bandaging. We are very grateful to have the support of the BVNA, BEVA and RCVS Knowledge and will be working closely with these associations to develop evidence for gold standards of the future. </p>
            <hr />
            <h3>Our Bandaging Angel Team</h3>
            <br />
        </div>
        {% for angel in angels %}
            <div class="small-12 medium-4 large-4 columns {% if angel == angels|last %}end{% endif %}">
                <a href="{{ path('show_angel', { id: angel.id }) }}">
                    {% if angel.image %}
                        <img src="{{ vich_uploader_asset(angel.image, 'imageFile') | imagine_filter('case_study_admin_thumb') }}" alt="{{ angel.firstName }} {{ angel.lastName }}" class="expert-photo">
                    {% else %}
                        <img src="{{ '/images/example.png' | imagine_filter('case_study_admin_thumb') }}" alt="{{ angel.firstName }} {{ angel.lastName }}" class="expert-photo">
                    {% endif %}
                </a>
                <a href="{{ path('show_angel', { id: angel.id }) }}">
                    <h3>{{ angel.firstName }} {{ angel.lastName }}</h3>
                </a>
                <p>{{ angel.description|length > 100 ? angel.description|slice(0,100) ~ '...' : angel.description }}</p>
                <a href="{{ path('show_angel', { id: angel.id }) }}" class="button small">View profile</a>
            </div>
        {% endfor %}
        <div class="small-12 columns">
            {{ page.lowerField | raw }}
        </div>
    </div>
    <div class="row padded-row">
        <div class="large-12 medium-12 columns">
            <hr />
            <h3>Get in touch with our Bandaging Angels</h3>
            <p>For more information about the Bandaging Angels or if you would like to apply to become an Angel, please contact us.</p>
            <a href="contact/" class="button">Contact Us</a>
        </div>

    </div>

{% endblock %}