{% extends 'base.html.twig' %}

{% block body %}

 <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            </div>
            <div class="large-2 medium-2 columns"> <img src="/images/icons/expert-icon.png" alt="Our Wound Experts" class="banner-icon"> </div>
        </div>
    </div>

   <div class="row padded-row">
        <div class="medium-4 small-12 columns">
		     {% if user.image %}
                <img src="{{ vich_uploader_asset(user.image, 'imageFile') | imagine_filter('case_study_admin_thumb') }}" alt="{{ user.firstName }} {{ user.lastName }}" class="expert-photo">
            {% endif %}
		</div>

        <div class="medium-8 small-12 columns">
            <p>{{ user.description|raw}}</p>
			<hr />
			<a href="/experts"><em>Back to experts</em></a>
        </div>
    </div>
{% endblock %}