{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Pages - Vet Wound Library{% endblock %}
{% block heading %}View all pages{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if pages is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Published</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_page_show', {slug : page.slug}) }}">
                                    {{ page.title }}
                                </a>
                            </td>
                            <td>{{ page.slug }}</td>
                            <td>
                                {% if page.published %}
                                    <i class="fa fa-circle" style="color: #27e833;"></i>
                                {% else %}
                                    <i class="fa fa-circle" style="color: #f9152f;"></i>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No pages have been added</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_page_new') }}" class="btn btn-block btn-primary">Add Page</a>
        </div>
    </div>
{% endblock %}