{% extends 'admin/sidebar_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block title %}
    {% if page.title is not null %}
        {{ page.title }}
    {% else %}
        New Page
    {% endif %} - Vet Wound Library
{% endblock %}

{% block heading %}
    {% if page.title is not null %}
        {{ page.title }}
    {% else %}
        New Page
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Page</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_row(form.subtitle) }}
            </div>
            <div class="form-group">
                {{ form_row(form.content) }}
            </div>
            <div class="form-group">
                {{ form_row(form.seoTitle) }}
            </div>
            <div class="form-group">
                {{ form_row(form.metaDescription) }}
            </div>
            <div class="form-group">
                {{ form_row(form.slug) }}
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Icon Image</h3>
        </div>
        <div class="box-body col-sm-12 col-lg-6">
            {% if page.iconImage is not null %}
                <img src="{{ vich_uploader_asset(page.iconImage, 'imageFile') | imagine_filter('page_admin_thumb') }}" alt="{{ page.title }}" style="width: 100%;" id="icon-image" />
                <a data-href="{{ path('admin_delete_page_icon_image', {id : page.id}) }}" class="btn btn-block btn-danger remove-icon-image-button" style="margin-top: 8px; margin-bottom: 20px;">Remove Image</a>
            {% endif %}
            <div class="form-group">
                {{ form_row(form.iconImage) }}
            </div>
        </div>
        {{ form_end(form) }}
        <div class="col-sm-12 hidden-lg">
            <hr>
        </div>
        <div class="box-body col-sm-12 col-lg-6">
            {% if page.images is not empty %}
                <div class="row">
                    {% for image in page.images %}
                        <div class="col-sm-12 col-md-4" style="margin-bottom: 2rem;">
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('product_admin_thumb_collection') }}" alt="{{ page.title }}" style="width: 100%"/>
                            <button data-href="{{ url('image_delete', {id: image.id}) }}" class="btn btn-block btn-danger btn-flat btn-delete-img">Delete Image</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ url('image_upload') }}" class="dropzone-box" id="dropzonebox" enctype="multipart/form-data">
                <div class="dz-message">Drop your images in here.</div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Action
            </h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_page_new') }}" style="margin-bottom:8px;" class="btn btn-block btn-default">New Page</a>
            {% if delete_form is defined %}
                <div class="modal fade modal-danger">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <p>This action will permanently delete this page.</p>
                                <p>Do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                {{ form_start(delete_form) }}
                                {{ form_row(delete_form.submit) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target=".modal">Delete Page</button>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        {% if page.image is not null %}
            <div class="box-body">
                <img src="{{ vich_uploader_asset(page.image, 'imageFile') | imagine_filter('page_admin_thumb') }}" alt="{{ page.title }}" style="width: 100%" id="featured-image" />
                <a data-href="{{ path('admin_delete_page_image', {id : page.id}) }}" class="btn btn-block btn-danger remove-image-button" style="margin-top: 8px;">Remove Image</a>
            </div>
        {% endif %}
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.image) }}
            </div>
            <div class="form-group">
                {{ form_row(form.published) }}
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form._token) }}
                {% if page.slug is not null %}
                    <a href="{{ path('page_show', {slug : page.slug}) }}" class="btn btn-default btn-block" style="margin-bottom: 8px;">View Page</a>
                {% endif %}
                {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script>
        $(function() {
            var count = 0;
            var staticPageForm = $('form')

            $('#dropzonebox').dropzone({
                success: function(file, response) {
                    var input = '<input type="hidden" name="images[' + count + ']" value="' + response + '">';
                    staticPageForm.prepend(input);
                    count++;
                }
            });

            $('.btn-delete-img').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        location.reload();
                    }
                });
            });

            $('.remove-image-button').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        $('#featured-image').toggle();
                        $('.remove-image-button').toggle();
                    }
                });
            });

            $('.remove-icon-image-button').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        $('#icon-image').toggle();
                        $('.remove-icon-image-button').toggle();
                    }
                });
            });
        });
    </script>
{% endblock %}