{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Product Categories - Vet Wound Library{% endblock %}
{% block heading %}View all Product Categories{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if categories is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_product_category_show', {slug : category.slug}) }}">
                                    {{ category.name }}
                                </a>
                            </td>
                            <td>{{ category.slug }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No categories have been added</h1>
            {% endif %}
        </div>
        <div class="box-footer">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_product_category_new') }}" class="btn btn-block btn-primary">Add Category</a>
        </div>
    </div>
{% endblock %}