.user-panel .fa-user {
    color: #ffffff !important;
    font-size: 20px;
    padding-top: 2px;
}

.admin-update-box .box-title {
    font-weight: 600;
}

.box td a {
    word-break: break-all;
}

.box td input {
    width: 100%;
}

.box td i {
    font-size: 20px;
}

.box td textarea {
    width: 100%;
    border: 0;
}

.placeholder-box {
    border: 4px dashed #dddddd;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    padding-top: 105px;
}

.placeholder-box h4 {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #6b6b6b;
}

.placeholder-box img.featured {
    width: 100%;
    margin-bottom: 20px;
}

.featured-image {
    width: 100%;
    margin-bottom: 20px;
}

/*
.dropzone-form {
    min-height: 13rem;
    border: solid 3px #b22e31;
    text-align: center;
}*/
