@charset "UTF-8";
/* CSS Document */

/* Row Styles */
.padded-row {padding-top: 2rem; padding-bottom: 2rem;}
.row {max-width: 1180px;}
.top-bar .row {max-width: 1180px;}

.softblue {color: #4b5865;}

/* Main Styles */
body {background: #494949;}
.main-wrapper {background: #fff; margin-left: auto; margin-right: auto; border-left: 1px solid #fff; border-right: 1px solid #fff; }
.clear {clear: both;}
.page {padding-top: 50px; padding-bottom: 50px; background: #fff;}
.page-grey {background: #ebeff2; border-bottom: 2px solid #9DC1D3;}
.page-darkgrey {padding-top: 30px; padding-bottom: 30px; background: #222;}
.grey {background: #ebeff2;}
.darkgrey {background: #222!important}

/* Typography / lists / links */

h1 {font-family: 'Raleway', sans-serif; font-weight: bold;}
h2 {font-family: 'Raleway', sans-serif;}
h3 {font-family: 'Raleway', sans-serif; color: #153C6C; font-size: 22px; margin-bottom: 20px; font-weight: bold; letter-spacing: 1px;}
h4 {font-family: 'Raleway', sans-serif; text-transform: uppercase; color: #4b5865; font-size: 18px; margin-bottom: 20px; font-weight: bold; letter-spacing: 1px;}
h5 {font-family: 'Raleway', sans-serif;}
h6 {font-family: 'Raleway', sans-serif;}
p {font-family: Arial,Helvetica,sans-serif; font-size: 15px;}
ul {}
li {}
a {color: #4b5865;}
a:hover {color: #000;}
a:active {}
a:visited {}
button, .button {background: #9c001e; text-transform: uppercase; font-weight: 500; letter-spacing: 1px; font-size: 14px;}
button:hover, .button:hover {background: #333;}
hr {
    border: dashed #333;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 30px 0 30px;
}

/* Header */
#main-header {height: 100px; background: #fff;}
#main-header .logo {height: 90px; margin-top: 5px;}
#main-header .logo:hover {opacity: 0.7}
#main-header .header-slogan {float: left; margin-top: 20px; padding-left: 20px; border-left: 1px solid #000; padding-top: 20px; padding-bottom: 20px; font-weight: bold;}
#main-header .header-btn {font-family: 'Raleway', sans-serif; margin-top: 25px; padding: 14px 25px 10px 25px; background: #333; margin-left: 10px; float: right; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;}
#main-header .header-btn.softblue {background: #4b5865;}
#main-header .header-btn:hover {background: #9c001e;}

.page-darkgrey h1 {color: #fff;}
.page-darkgrey .subtitle {color: #fff;}

/* Main Navigation */
#main-nav {background: #4b5865; height: 50px;}
.top-bar {line-height: 50px;}
.top-bar-section li:not(.has-form) a:not(.button) {line-height: 20px; padding: 18px 20px 12px 20px; background: #4b5865;}
.top-bar-section ul li>a {font-family: 'Raleway', sans-serif; font-weight: bold; font-size: 15px;}

.top-bar-section li.active:not(.has-form) a:not(.button) {line-height: 20px;   padding: 18px 20px 12px 20px; background: #9c001e;}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {background: #222;}

.top-bar-section .has-dropdown>a:after {display: none; width: 0px; height: 0px;}
.top-bar-section .has-dropdown>a { padding: 18px 20px 12px 20px!important;}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
    background: #8e031b;
    color: #fff;
}

/* Main Mobile Navigation */
.nav-toggle {font-size: 1px; float: right; margin-top: -45px; color: #fff; z-index: 99999; margin-right: 20px;}
.nav-collapse a {width: 100%; line-height: 20px; padding: 12px 20px 8px 20px; background: #4b5865; border-top: 1px solid #000; display: block; color: #FFF; font-family: 'Raleway', sans-serif; font-weight: bold; font-size: 15px;}
.nav-collapse a:hover {background: #9c001e;}

.nav-toggle:after {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-left: 0.5em;
}

/* Footer */
#main-footer {background: #272727; padding-top: 40px; padding-bottom: 30px;}
#main-footer h4 {color: #87A2BD; font-family: 'Raleway', sans-serif;}
#main-footer ul {margin: 0px;}
#main-footer p {color: #fff;}
#main-footer li {margin-bottom: 10px; font-size: 13px; list-style: none}
#main-footer li a {color: #fff;}
#main-footer li a:hover {color: #4b5865;}

#legal-footer {padding-top: 10px; padding-bottom: 10px;}
#legal-footer p {margin-bottom: 0px; margin-top: 8px; font-size: 12px;}
#legal-footer .payment-icons {float: right; width: 150px;}


/* Homepage */
.mini-divider {height: 2px; background: #4b5865; margin-bottom: 20px; width: 100px;  margin-left: auto; margin-right: auto;}
.mini-introduction {text-align: center; max-width: 500px; margin-left: auto; margin-right: auto;}
.mini-introduction h3 {margin-bottom: 15px;}
.blue-divider {background: #4b5865; width: 100%; height: 2px; margin-bottom: 20px;}
.blue-divider:before {content: " "; width: 20%;; height: 5px; background: #4b5865; position: absolute; }

#homepage-slider {background: #e1e1e1; height: 480px; background-size: cover; background-position: right; max-width: 1900px; margin-left: auto; margin-right: auto;}
#homepage-slider h1 {font-size: 50px; color: #fff; margin-top: 90px; font-weight: bold; margin-bottom: 20px; line-height: 1;}
#homepage-slider .home-subtitle {font-size: 30px; color: #fff; }
#homepage-slider .white-divider {background: #fff; width: 100%; height: 2px;}
#homepage-slider .white-divider:before {content: " "; width: 20%;; height: 5px; background: #fff;  position: absolute; }

#homepage-slider p {color: #fff; margin-top: 20px;}
#homepage-slider .buttons {float: left; padding: 12px 20px; font-weight: 500; font-size: 15px; letter-spacing: 1px; margin-right: 10px; text-transform: uppercase; color: #fff; border: 2px solid #fff;}
#homepage-slider .buttons:hover { background: rgba(0,0,0,0.5); border-color: #4b5865;}

#homepage-services {background: #fff; padding-top: 50px; padding-bottom: 50px;}
#homepage-services .servicebox {padding: 10px; text-align: center;}
#homepage-services .servicebox img {margin-left: auto; margin-right: auto; display: block; margin-bottom: 15px; max-width: 80px;}
#homepage-services .servicebox h4 {text-transform: uppercase; font-weight: 900; font-size: 20px; letter-spacing: 1px; color: #9c001e; font-size: 17px;}
#homepage-services .servicebox p {font-size: 14px; margin: 0px;}

#homepage-support {background: #f3f3f3; padding-top: 80px; padding-bottom: 60px;}
#homepage-support h3 {text-align: center;}
#homepage-support img {border: 1px solid #000; margin-bottom: 20px;}

#homepage-about {background: #fff; padding-top: 80px; padding-bottom: 80px;}
#homepage-about img {}
#homepage-about .about-wrap {margin-bottom: 20px; float: left;}
#homepage-about .about-wrap p {margin-bottom: 0px;}
#homepage-about .about-wrap span {height: 50px; width: 50px; text-align: center; line-height: 50px; font-weight: bold; border: 2px solid #9c001e; float: left; margin-right: 15px;}

#homepage-case-studies { background: #f3f3f3; padding-top: 80px; padding-bottom: 80px;}
#homepage-case-studies h4 {margin-top: 25px; margin-bottom: 20px; font-family: 'Raleway', sans-serif; text-transform: uppercase; color: #4b5865; font-size: 18px; margin-bottom: 20px; font-weight: bold; letter-spacing: 1px;}

#homepage-pricing {background: #fff; padding-top: 80px; padding-bottom: 80px;}
.pricing-table {margin-top: 20px; border: solid 1px #2B2B2B;}
.pricing-table .title {background: #333;}
.teamrates {font-size: 13px; text-align: center; margin-top: 20px; margin-bottom: 0px}
.pricing-table .price {font-weight: bold; font-size: 1.4rem;}

#homepage-companies {background: #fff; padding-top: 80px; padding-bottom: 60px;}


/* Top page banner */
.banner-icon {width: 120px; float: right; height: auto;}

/* Expert List View */
.expert-wrap {margin-bottom: 50px;}

.expert-wrapper h4 {margin-bottom: 5px;}
.expert-wrapper p {font-size: 13px;}
.expert-photo {border: 1px solid #333; margin-bottom: 20px; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.expert-photo:hover {-webkit-filter: grayscale(0%); filter: grayscale(0%);}



/* Expert Single View */
#Single-Expert-Wrap .expert-photo {margin-bottom: 30px; width: 100%; height: auto;}


/* Case Studies page */
#public-case-study-intro .button {margin-bottom: 0px;}
.case-study-wrap {margin-bottom: 70px; height: 400px;}
.case-study-wrap img:hover {opacity: 0.7;}
.case-study-wrap h4 {margin-top: 25px; margin-bottom: 20px; font-family: 'Raleway', sans-serif; text-transform: uppercase; color: #4b5865; font-size: 18px; margin-bottom: 20px; font-weight: bold; letter-spacing: 1px;}
nav.primary{width:auto;margin-bottom:40px; margin-top: 20px; padding:0}
nav.primary ul{padding:0;margin:0}
nav.primary ul li{float:left;list-style:none;font-weight:700}
nav.primary ul li a{height:39px;display:block;font-size:15px;color:#000;padding:0 10px;text-decoration:none;line-height:39px}
nav.primary ul li a:hover{color:#4b5865}
nav.primary li a.selected{border-bottom:3px solid #4b5865}
.entry{position:relative}
.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:1.5s;-moz-transition-duration:1.5s;transition-duration:1.5s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;transition-property:transform,opacity}

/* Breadcrumbs page */
#breadcrumb-small {margin-bottom: 5px;}
#breadcrumb-small p {font-size: 13px; margin-bottom: 0px;}

/* Blog */
.blog-post {padding-bottom: 40px; padding-top: 60px; border-bottom: 1px dashed #333;}
.blog-post:first-child {padding-top: 0px;}
.blog-posted-on {font-size: 13px;}
.blog-posted-on strong {color: #4b5865;}
.blog-image {width: 100%; height: auto; border: 1px solid #333; margin-bottom: 20px;}

/* Blog pagination */
.pagination ul{padding-left:0;margin-left:0;margin-top:30px;margin-bottom:30px}
.pagination li a,.pagination li a:hover,.pagination li.active a,.pagination li.disabled{color:#fff;text-decoration:none;margin-top:10px;background:#333;color:#fff;padding:7px 15px;display:inline-block;text-transform:uppercase;font:600 16px "Source Sans Pro",sans-serif}
.pagination li{display:inline}
.pagination li a:hover,.pagination li.active a{background:#4b5865}

#sidebar {    margin-left: 50px; padding-left: 35px; border-left: 1px dashed #333;}
#sidebar .widget {    border: 1px solid #fff}
#sidebar h3 {    font-size: 18px; text-transform: uppercase; color: #000; margin-bottom: 10px;}
#sidebar p {font-size: 14px;}
.widget2 {margin-top: 40px;}

.category-sidebar {display: block; border-bottom: 1px dashed #CDCDCD; padding-top: 5px; padding-bottom: 5px; font-size: 14px;}

.register-today-box {background: #000; margin-bottom: 30px; height: 150px;}

/* Account page */
#new-case label {font-weight: bold; margin-top: 20px;}
#new-case textarea {min-height: 240px;}
select {border-color: #000;}


/* Account page */
#account-sidebar {border: 1px solid #616161; padding: 20px;}

.case-studies-panel {padding: 20px; background: #F4F4F4; border: 1px solid #7B7B7B; margin-bottom: 40px;}
.case-studies-panel h2 {font-weight: bold; font-size: 30px; margin-bottom: 30px;}
.case-studies-panel p {text-align: center; margin-top: 10px; font-weight: bold; font-size: 15px; text-transform: uppercase;}
.case-studies-panel img {margin-left: auto; margin-right: auto; display: block;}


#your-case-studies {background: #ebeff2; border-top: 2px solid #9DC1D3;}


/* Scroll */
#owl-demo {margin-top: 30px;}
#owl-demo .item{margin:3px}
#owl-demo .item img{display:block;width:100%;height:auto;border:1px solid #c2c2c2; padding: 10px; background: #fff; filter: grayscale(100%); -webkit-filter: grayscale(100%);}
#owl-demo .item img:hover { background: #FBFBFB;  border: 3px #4b5865 solid; padding: 8px; opacity: 0.9; filter: grayscale(0%); -webkit-filter: grayscale(0%);}
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0,0,0)}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel .owl-item{float:left}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.grabbing{cursor:url(img/grabbing.png) 8 8,move}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
.owl-theme .owl-controls{margin-top:30px;text-align:center}
.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;*display:inline;margin:5px;padding:3px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:#869791;filter:Alpha(Opacity=50);opacity:.5}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}
.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline}
.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#4b5865}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
.owl-item.loading{min-height:150px;background:url(img/AjaxLoader.gif) no-repeat center center}


/* Login */
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {border: 1px solid #333; background: #fff;}
label {font-size: 16px; color: #000; margin-bottom: 5px;}
fieldset legend {font-weight: 700; font-size: 30px; background: #333; color: #fff; padding:5px 20px; border: 1px solid #333; font-family: 'Raleway', sans-serif;}
fieldset {border: solid 1px #000;  background: #FFF;}
fieldset button {margin-bottom: 0px;}
button {background: #9c001e; font-family: 'Raleway', sans-serif;}
.checkbox label {font-size: 14px;}
.forgotpassword {font-size: 14px; font-weight: bold;}
.alert-box.error {background-color: #DE6A6A; border-color: #7D1F21; font-size: 15px; font-weight: bold;}
.alert-box .close {color: #fff; opacity: 1;}
.rc-anchor-light {border: 1px solid #333!important}
.not-registered {margin-top: 95px; border: solid 1px #000; background: #FFF; padding: 20px;}
.not-registered .button {background: #333; margin-bottom: 0px;}
form h3 {margin-top: 30px; margin-bottom: 0;}
form hr {margin-top: 5px; margin-bottom: 20px;}


/* Register */
#register fieldset {margin-top: 40px;}
#register .small-message {font-size: 12px;}
#register .subscription-icons {margin-top: 5px; margin-bottom: 5px;}
#register label {margin-top: 10px;}

#register-prices {}
#register-prices {background: #fff; padding-top: 50px; padding-bottom: 30px;}
#register-prices .servicebox {border: 2px solid #4b5865; padding: 20px; text-align: center; height: 190px;}
#register-prices .servicebox.selected {background: #4b5865; color: #fff;}
#register-prices .servicebox.selected h4 {color: #fff;}
#register-prices .servicebox.selected:hover {background: #4b5865; color: #fff;}
#register-prices .servicebox:hover {background: #EAF6FF;}
#register-prices .servicebox:hover h4, #homepage-services .servicebox:hover p  {color: #000;}
#register-prices .servicebox img {margin-left: auto; margin-right: auto; display: block; margin-bottom: 15px; max-width: 80px;}
#register-prices .servicebox h4 {text-transform: uppercase; font-weight: 900; font-size: 20px; letter-spacing: 1px; color: #4b5865; font-size: 17px; margin-bottom: 10px;}
#register-prices .servicebox p {font-size: 18px; font-weight: bold; text-transform: uppercase; margin: 0px;}



/* Page */
.subtitle {font-family: 'Raleway', sans-serif; text-transform: none; color: #000; font-size: 20px; margin-bottom: 0px; font-weight: bold; letter-spacing: 1px;}

/* Case Study Upload */
#image-upload {color: #747474; text-align: center; padding-top: 60px; border-style: dashed; border-width: 3px; border-color: #4A74B5; border-radius: 10px; background: #f2f2f2; height: 200px; margin-bottom: 20px;}
#image-upload p {font-size: 25px; color: #414141; font-weight: 500; margin-bottom: 0;}
#image-upload p, #image-upload span {z-index: -1;}

