@charset "UTF-8";
/* CSS Document */

@media only screen and (max-width: 40em) {

#main-header .header-slogan, #main-header .header-btn {display: none;}
#main-nav {display: none;}
#main-header {height: 70px;}
#main-header .logo {height: 40px; margin-top: 18px;}

#homepage-slider {height: auto; background: #5B89C2!important;}
#homepage-slider h1 {font-size:55px; margin-top: 30px;}
#homepage-slider h2 {font-size: 25px;}
#homepage-slider .buttons {margin-bottom: 20px; width: 100%; text-align: center;}

#homepage-services {padding-top: 30px; padding-bottom: 10px;}
#homepage-services .servicebox {margin-bottom: 30px;}
#homepage-about {padding-top: 40px; padding-bottom: 30px;}
#homepage-about img {margin-bottom: 30px;}

#homepage-case-studies {padding-top: 30px; padding-bottom: 30px;}
#homepage-case-studies .home-case-study-single {margin-bottom: 30px; margin-top: 20px;}
#home .mini-introduction {text-align: left;}
#home .mini-divider {margin: 0px; margin-bottom: 20px;}

#homepage-pricing {padding-top: 30px; padding-bottom: 30px;}

#homepage-companies {padding-top: 30px; padding-bottom: 20px;}

#main-footer {padding-top: 10px;}
#main-footer h4 {margin-top: 30px;}

.paymenticons {margin-top: 20px;}


.banner-icon {display: none;}

}


