{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="page page-grey">
        <div class="row">
            <div class="large-7 medium-7 columns">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <fieldset>
                        <legend>Login to your account</legend>

                        {% if error %}
                            <div data-alert class="alert-box error">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                <a href class="close">&times;</a>
                            </div>
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" />

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                        <br>
                        <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block">{{ 'security.login.submit'|trans }}</button>
                    </fieldset>
                </form>
                <p class="forgotpassword">Forgot your password? <a href="{{ path('fos_user_resetting_request') }}"> Reset it via email</a></p>
            </div>
            <div class="large-4 large-offset-1 medium-5 columns">
                <div class="not-registered">
                    <h3>Not registered?</h3>
                    <p>Don't yet have an acccount? Well becoming a member is easy.</p>
                    <a href="{{ url('fos_user_registration_register') }}" class="button">Register today</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}