{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Manufacturers{% endblock %}
{% block heading %}View all Manufacturers{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if manufacturers is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for manufacturer in manufacturers %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_manufacturer_show', {id : manufacturer.id}) }}">
                                    {{ manufacturer.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No manufacturers have been added</h1>
            {% endif %}
        </div>
        <div class="box-footer">
            {{ knp_pagination_render(manufacturers) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_manufacturer_new') }}" class="btn btn-block btn-primary">Add Manufacturer</a>
        </div>
    </div>
{% endblock %}