{% extends 'base.html.twig' %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Case studies</h1>
                <h3 class="subtitle">Examples of previous case studies submitted to the VWL libary</h3>
            </div>
            <div class="large-2 medium-2 columns"> <img src="{{ asset('images/icons/case-studies.png') }}" alt="Our Wound Experts" class="banner-icon"/> </div>
        </div>
    </div>
    <div class="page" id="public-case-study-intro">
        <div class="row">
            <div class="medium-12 small-12 columns">
                <p>The Vet Wound Library develops case studies in the private member area through online sharing. Each case is generated through our web based software that enables our members to access a wide range of specialist wound dressings free of charge when the case is shared online.</p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_ADMIN')%}
                    <a href="{{ url('case_study_index') }}" class="button darkgrey">Your Case studies</a>
                    <a href="{{ url('case_study_new') }}" class="button">Submit case study</a>
                {% else %}
                    <a href="{{ url('fos_user_registration_register') }}" class="button">Register today to submit</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="page page-grey">
        <div class="row">
            <div class="small-12 columns">
                <h3>Examples of case studies submitted to the VWL</h3>
                <p>Below are a few examples of case studies sumbitted the vet wound library and how we helped advice and recommend the best treatment. To view all past case studies, register today and get full access to all our previous notes.</p>
                <p><em>As with all case reporting, we have gained full consent from the client.</em></p>
                <nav class="primary clearfix">
                    <ul>
                        <li><a class="selected" data-filter="*">All</a></li>
                        <li><a data-filter=".small-animal-cs">Small Animal</a></li>
                        <li><a data-filter=".large-animal-cs">Large Animal</a></li>
                        <li><a data-filter=".exotic-animal-CS">Exotics</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
            <section class="main">
                <div class="portfolio">
                    {% for case in case_studies %}
                        {% if case.category is constant('AppBundle\\Entity\\CaseStudy::LARGE_ANIMALS') %}
                            {% set isotope_class = 'large-animal-cs' %}
                        {% elseif case.category is constant('AppBundle\\Entity\\CaseStudy::SMALL_ANIMALS') %}
                            {% set isotope_class = 'small-animal-cs' %}
                        {% elseif case.category is constant('AppBundle\\Entity\\CaseStudy::EXOTIC_ANIMALS') %}
                            {% set isotope_class = 'exotic-animal-cs' %}
                        {% else %}
                            {% set isotope_class = '' %}
                        {% endif %}
                        <div class="medium-4 small-12 columns end entry {{ isotope_class }} isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="case-study-wrap" >
                                <a href="{{ path('public_case_study_single', { slug: case.slug }) }}">
                                    {% if case.image is not null %}
                                        <img src="{{ vich_uploader_asset(case.image, 'imageFile') | imagine_filter('case_study_public_thumb') }}" alt="{{ case.injuryName }}" />
                                    {% else %}
                                        <img src="{{ '/images/example.png' | imagine_filter('case_study_public_thumb') }}" alt="{{ case.injuryName }}">
                                    {% endif %}
                                </a>
                                <h4>
                                    <a href="{{ path('public_case_study_single', { slug: case.slug }) }}">
                                        {{ case.injuryName }}
                                    </a>
                                </h4>
                                <p>{{ case.summary|length > 150 ? case.summary|slice(0,150) ~ '...' : case.summary }}</p>
                                <p>
                                    <a href="{{ path('public_case_study_single', { slug: case.slug }) }}">Read full case study.</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js') }}"></script>
    {% endblock %}
    {% block page_js %}
        {{ parent() }}
        <script>
            var container = $('.portfolio');

            container.isotope({
                itemSelector: '.isotope-item',
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('nav.primary ul a').click(function(){
                var selector = $(this).attr('data-filter');

                container.isotope({
                    filter: selector
                });
            });

            $('nav.primary ul a').click(function(e){
                e.preventDefault();

                // don't proceed if already selected
                if ( $(this).hasClass('selected') ) {
                    return false;
                }
                var $optionSet = $(this).parents('nav.primary ul');

                $optionSet.find('.selected').removeClass('selected');
                $(this).addClass('selected');
            });
        </script>
    {% endblock %}
{% endblock %}