{% extends 'base.html.twig' %}

{% block body %}

  <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Case studies</h1>
                <h3 class="subtitle">Login to view all examples of previous case studies submitted to the VWL library</h3>
				
				{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <h3 class="subtitle">Login to view all examples of previous case studies submitted to the VWL library</h3>
                {% endif %}
				
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h3 class="subtitle">...</h3>
                {% endif %}
				
            </div>
        
			 <div class="large-2 medium-2 columns"> <img src="/images/icons/plasters.png" alt="Subscribe now for full access" class="banner-icon"> </div>
        </div>
    </div>

    {% if case_study is not null %}
        <div class="page page-grey">
            <div class="row">
                <div class="small-12 columns">
                    <h1 style="font-size: 2rem;">{{ case_study.injuryName }}</h1>
                    <h3>Category: {{ case_study.category }}</h3>
                    <hr />
	
	{{ case_study.injuryName }}
	{{ case_study.petBreed }}
	{{ case_study.category }}
	{{ case_study.petBirthDate }}
	{{ case_study.petSex }}
	{{ case_study.tried }}
	{{ case_study.woundLocation}}
	{{ case_study.woundDate}}

					<hr />
					
		
                    
					{% if case_study.summary is not empty %}
                        <p><strong>Summary: </strong><br />
						{{ case_study.summary }}</p>
                    {% endif %}
					
                    {% if case_study.tried is not empty %}
                        <p><strong>What was attempted to begin with:</strong><br/> 
						{{ case_study.tried }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for update in case_study.caseStudyUpdate %}
            <div class="row padded-row">
                <div class="small-12 columns">
                    <table width="100%">
                        <thead>
                        <tr>
                            <td>Update</td><td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="30%">Updated on</td>
                            <td>{{ update.date|date("jS m Y") }}</td>
                        </tr>
                        <tr>
                            <td>Wound Size</td>
                            <td>{{ update.woundSize }}</td>
                        </tr>
                        <tr>
                            <td>Tissue Status</td>
                            <td>{{ update.tissueStatus }}</td>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td>{{ update.content }}</td>
                        </tr>
                        <tr>
                            <td>Images</td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}