{% extends 'base.html.twig' %}

{% block body %}
    <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Our Latest News</h1>
                <h3 class="subtitle">Keep to date with the Veterinary Wound Library</h3>
            </div>
            <div class="large-2 medium-2 columns"> <img src="/images/icons/news.png" alt="Our Latest News" class="banner-icon"/> </div>
        </div>
    </div>
    <div class="row padded-row">
        <div class="large-8 small-12 columns">
            {% for post in posts %}
                {% if post.published %}
                    <div class="blog-post">
                        <a href="{{ path('post_show', {slug: post.slug}) }}">
                            {% if post.image %}
                                <img src="{{ vich_uploader_asset(post.image, 'imageFile') | imagine_filter('post_index') }}" alt="{{ post.title }}" style="width: 100%"/>
                            {% else %}
                                <div class="panel" style="width:100%;"><h1>Add Placeholder image.</h1></div>
                            {% endif %}
                        </a>
                        <h2>
                            <a href="{{ path('post_show', {slug: post.slug}) }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <p>
                            <em class="blog-posted-on">
                                <strong>Posted:</strong> {{ post.dateSubmitted | date('d F Y ') }}<br>
                                <strong>Author:</strong> {{ post.user.firstName }} {{ post.user.lastName }}</em>
                        </p>
                        <p>{{ post.content }}</p>
                        <div class="clear"></div>
                        <a href="{{ path('post_show', {slug: post.slug}) }}" class="button">Read More</a>
                    </div>
                {% endif %}
            {% endfor %}
            {{ knp_pagination_render(posts) }}
            <div class="clear"></div>
        </div>
        <div class="large-4 medium-4 small-12 columns hide-for-small-only hide-for-medium-only">
            <aside id="sidebar">
                <div class="register-today-box">
                    <h3>REGISTER</h3>
                </div>
                <div class="widget">
                    <h3>CATEGORIES</h3>
                    <div class="widgetwrap"> <a href="#" class="category-sidebar">> General news</a> <a href="#" class="category-sidebar">> Products</a> <a href="#"class="category-sidebar">> CPD</a> <a href="#" class="category-sidebar">> General news</a> </div>
                </div>
                <div class="widget widget2">
                    <h3>Authors</h3>
                    <div class="widgetwrap"> <a href="#" class="category-sidebar">Georgie</a> <a href="#" class="category-sidebar">Dave</a> <a href="#"class="category-sidebar">Jim</a> <a href="#" class="category-sidebar">Fiona</a> </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
