{% extends 'base.html.twig' %}

{% block body %}
    <div class="row padded-row">
        <div class="small-12 columns">

            <h1>{{ post.title }}</h1>
            <p>{{ post.content | raw }}</p>
        </div>
    </div>
{% endblock %}