{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View Distributors - Vet Wound Library{% endblock %}
{% block heading %}View all Distributors{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if distributors is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Sponsor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for distributor in distributors %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_distributor_show', {id : distributor.id}) }}">
                                    {{ distributor.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ distributor.contactEmail }}">
                                    {{ distributor.contactFirstName }} {{ distributor.contactLastName }}
                                </a>
                            </td>
                            <td>
                                {% if distributor.sponsored %}
                                    <i class="fa fa-circle"
                                       style="color: #27e833;"></i>
                                {% else %}
                                    <i class="fa fa-circle"
                                       style="color: #f9152f;"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No distributors have been added</h1>
            {% endif %}
        </div>
        <div class="box-footer">
            {{ knp_pagination_render(distributors) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_distributor_new') }}" class="btn btn-block btn-primary">Add Distributor</a>
        </div>
    </div>
{% endblock %}