{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}
    {% if distributor.name is not null %}
        {{ distributor.name }}
    {% else %}
        New Distributor
    {% endif %} - Vet Wound Library
{% endblock %}
{% block heading %}
    {% if distributor.name is not null %}
        {{ distributor.name }}
    {% else %}
        New Distributor
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Distributor</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group">
                <label>Sponsor</label>
                <div class="checkbox">
                    {{ form_errors(form.sponsored) }}
                    <label>
                        <input type="checkbox"
                               name="{{ form.sponsored.vars.full_name }}"
                               id="{{ form.sponsored.vars.id }}"
                               value="{{ form.sponsored.vars.value }}"
                                {% if form.sponsored.vars.checked %}
                        checked
                                {% endif %}>
                        {{ form.sponsored.vars.label }}
                    </label>
                    {% do form.sponsored.setRendered %}
                </div>
            </div>
            <hr>
            <h4>Contact Details</h4>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_row(form.contactFirstName) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_row(form.contactLastName) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.contactEmail) }}
            </div>
            <div class="form-group">
                {{ form_row(form.contactNumber) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Action
            </h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_distributor_new') }}" style="margin-bottom:8px;" class="btn btn-block btn-default">New Distributor</a>
            {% if delete_form is defined %}
                <div class="modal fade modal-danger">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <p>This action will permanently delete this distributor.</p>
                                <p>Do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                {{ form_start(delete_form) }}
                                {{ form_row(delete_form.submit) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target=".modal">Delete Distributor</button>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        <div class="box-footer">
            {{ form_widget(form._token) }}
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}