{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}View News Posts - Vet Wound Library{% endblock %}
{% block heading %}View all News Posts{% endblock %}

{% block main_content %}
    <div class="box">
        <div class="box-body">
            {% if posts is not null %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Date</th>
                        <th>Published</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_post_show', {slug : post.slug}) }}">
                                    {{ post.title }}
                                </a>
                            </td>
                            <td>{{ post.dateSubmitted | date('d/M/Y') }}</td>
                            <td>{{ post.slug }}</td>
                            <td>
                                {% if post.published %}
                                    <i class="fa fa-circle"
                                       style="color: #27e833;"></i>
                                {% else %}
                                    <i class="fa fa-circle"
                                       style="color: #f9152f;"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1>No posts have been added</h1>
            {% endif %}
        </div>
        <div class="box-footer">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_post_new') }}" class="btn btn-block btn-primary">Add Post</a>
        </div>
    </div>
{% endblock %}