{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}
    {% if post.title is not null %}
        {{ post.title }}
    {% else %}
        New Post
    {% endif %} - Vet Wound Library
{% endblock %}

{% block heading %}
    {% if post.title is not null %}
        {{ post.title }}
    {% else %}
        New Post
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Post</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_row(form.content) }}
            </div>
            <div class="form-group">
                {{ form_row(form.seoTitle) }}
            </div>
            <div class="form-group">
                {{ form_row(form.metaDescription) }}
            </div>
            <div class="form-group">
                {{ form_row(form.slug) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Action
            </h3>
        </div>
        <div class="box-body">
            <a href="{{ url('admin_post_new') }}" style="margin-bottom:8px;" class="btn btn-block btn-default">New Post</a>
            {% if delete_form is defined %}
                <div class="modal fade modal-danger">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <p>This action will permanently delete this post.</p>
                                <p>Do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                {{ form_start(delete_form) }}
                                {{ form_row(delete_form.submit) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target=".modal">Delete Post</button>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        {% if post.image is not null %}
            <div class="box-body">
                <img src="{{ vich_uploader_asset(post.image, 'imageFile') | imagine_filter('post_admin_thumb') }}" alt="{{ post.title }}" style="width: 100%" id="featured-image" />
                <a data-href="{{ path('admin_delete_post_image', {id : post.id}) }}" class="btn btn-block btn-danger remove-image-button" style="margin-top: 8px;">Remove Image</a>
            </div>
        {% endif %}
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.image) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateSubmitted) }}
                {{ form_errors(form.dateSubmitted) }}
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form_widget(form.dateSubmitted) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.published) }}
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form._token) }}
            {% if post.slug is not null %}
                <a href="{{ path('post_show', {slug : post.slug}) }}" class="btn btn-default btn-block" style="margin-bottom: 8px;">View Post</a>
            {% endif %}
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function() {
            $('.remove-image-button').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        $('#featured-image').toggle();
                        $('.remove-image-button').toggle();
                    }
                });
            });
        });
    </script>
{% endblock %}