<p><strong>Name:</strong> {{ contact.name }}</p>

<p><strong>Subject:</strong> {{ contact.subject }}</p>

<p><strong>Message:</strong> {{ contact.content }}</p>

{% if contact.phoneNumber is not null %}
    <p><strong>Phone:</strong> {{ contact.phoneNumber }}</p>
{% endif %}

<p><strong>Email:</strong> {{ contact.email }}</p>

<p><strong>IP Address:</strong> {{ contact.ipAddress }}</p>