{% extends 'base.html.twig' %}

{% block body %}


 <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Your submitted case Studies</h1>
                <h3 class="subtitle"></h3>
            </div>
            <div class="large-2 medium-2 columns">
              
                    <img src="{{ asset('images/icons/case-studies.png') }}" alt="Add New Case Study" alt="Our Wound Experts" class="banner-icon" />
 
            </div>
        </div>
    </div>


    <div class="row padded-row">
        <div class="small-12 columns">
            {{ wo_render_breadcrumbs() }}
        </div>
        <div class="small-12 medium-12 columns">
		<br>
            <a href="{{ url('case_study_new') }}" class="button">
                New Case Study
            </a>
        </div>
	</div>
		
<section id="your-case-studies">		
		
    <div class="row padded-row">		
		
        <div class="small-12 columns">
		<h3>Your current case studies:</h3>
		
            <table width="100%">
                <thead>
                <tr>
                    <th width="200">Injury</th>
                    <th>Pet Breed</th>
                    <th width="200">Last Update</th>
                </tr>
                </thead>
                <tbody>
                    {% for case in case_studies %}
                        <tr>
                            <td>
                                <a href="{{ path('case_study_single', { slug: case.slug }) }}">
                                    {{ case.injuryName }}
                                </a>
                            </td>
                            <td>{{ case.petBreed }}</td>
                            <td>{{ case.latestUpdate.date|date("g:ia\, d/m/Y") }}</td>
							 <td><a href="{{ path('case_study_single', { slug: case.slug }) }}">View case study</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}