{% extends 'base.html.twig' %}

{% block body %}

  <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Add New Case Study</h1>
                <h3 class="subtitle">Submit a case study to the Veterinary Wound Library.</h3>
            </div>
            <div class="large-2 medium-2 columns">
              
                    <img src="{{ asset('images/icons/case-studies.png') }}" alt="Add New Case Study" alt="Our Wound Experts" class="banner-icon" />
 
            </div>
        </div>
    </div>


    <div class="row padded-row" id="new-case">
        <div class="small-12 medium-12 columns">
			<h4>Submit a new case study to the Veterinary Wound Library</h4>
			<p>Please enter the details as best as possible. Once you have submitted your initial case study, you will be able to upload photos of the wound.</p>
			<hr />
        </div>
        <div class="small-12 columns">
            {{ form_start(form) }}
                {{ form_row(form.injuryName) }}
				{{ form_row(form.category) }}
                {{ form_row(form.petBreed) }}
                {{ form_row(form.petBirthDate) }}
                {{ form_row(form.petSex) }}
                {{ form_row(form.tried) }}
                {{ form_row(form.woundLocation) }}
                {{ form_row(form.woundDate) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}
