{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block body %}

 <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
                <h1>Update for {{ case_study.injuryName }}</h1>
                <h3 class="subtitle">Update your case study.</h3>
            </div>
            <div class="large-2 medium-2 columns">
              
                    <img src="{{ asset('images/icons/case-studies.png') }}" alt="Add New Case Study" alt="Our Wound Experts" class="banner-icon" />
 
            </div>
        </div>
    </div>


    <div class="row padded-row">
        <div class="small-12 columns">
           <h4>Update your case study.</h4>
			<p>Please enter the details as best as possible. Once you have submitted your update, if selected one of our team will aim to get back to you as soon as possible. <br><br>You can upload photos of the wound by dragging them onto the panel below. (JPG/PNG only - 3Mb max size)</p>
			<hr />
        </div>
        <div class="small-12 columns"  id="new-case">
            {{ form_start(form) }}
                {{ form_row(form.content) }}
                {{ form_row(form.woundSize) }}
                {{ form_row(form.tissueStatus) }}
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="{{ form.helpRequested.vars.full_name }}"
                               id="{{ form.helpRequested.vars.id }}"
                               value="{{ form.helpRequested.vars.value }}"
                                {% if form.helpRequested.vars.checked %}
                        checked
                                {% endif %}>
                        {{ form.helpRequested.vars.label }}
                    </label>
                    {% do form.helpRequested.setRendered %}
                </div>
            {{ form_end(form) }}
            {% if case_study_update.images is not empty %}
                <div class="row">
                    {% for image in case_study_update.images %}
                        <div class="small-12 medium-3 columns {% if loop.last %}end{% endif %}" style="margin-bottom: 2rem;">
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('case_study_admin_thumb_collection') }}" alt="{{ case_study.injuryName }}" style="width: 100%"/>
                            <button data-href="{{ url('image_delete', {id: image.id}) }}" class="btn btn-block btn-danger btn-flat btn-delete-img">Delete Image</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ url('image_upload') }}" class="dropzone-box" id="dropzonebox" enctype="multipart/form-data">
                <div class="dz-message">Drop your images in here.</div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js') }}"></script>
    <script>
        $(function() {
            var count = 0;

            $('#dropzonebox').dropzone({
                success: function(file, response) {
                    console.log(response);
                    var input = '<input type="hidden" name="images[' + count + ']" value="' + response + '">';
                    $('form[name="update"]').append(input);
                    count++;
                }
            });

            $('.btn-delete-img').on('click', function() {
                $.ajax({
                    url: $(this).data('href'),
                    success: function() {
                        location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}