{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css') }}">
{% endblock %}

{% block body %}
    {% if case_study is not null %}
        <div class="page page-grey">
            <div class="row">
                <div class="small-12 medium-10 columns">
                    <h1>{{ case_study.injuryName }}</h1>
                    <h3 class="subtitle">{{ case_study.petBreed }}</h3>
                    <h5><b>Submitted: {{ case_study.dateSubmitted|date("g:ia\, d/m/Y") }}</b>,
                        <b>Last Updated: {{ case_study.latestUpdate.date|date("g:ia\, d/m/Y") }}</b></h5>
                    <p><a href="{{ path('case_study_edit', {slug: case_study.slug}) }}">Edit Case Study</a></p>
                    {% if case_study.tried is not empty %}
                        <p><strong>What has been tried: </strong>{{ case_study.tried }}</p>
                    {% endif %}
                </div>
                <div class="small-12 medium-2 columns right">
                    <a href="{{ path('case_study_update_new',  { caseStudySlug: case_study.slug }) }}" class="button">
                        Update Case Study
                    </a>
                </div>
            </div>
        </div>

        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="row padded-row">
                <div class="small-12 columns">
                    <div data-alert="" class="alert-box success">
                        {{ flash_message }}
                        <a href="" class="close">×</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for update in case_study.caseStudyUpdate %}
            <div class="row padded-row">
                <div class="small-12 columns">
                    <table width="100%">
                        <thead>
                        <tr>
                            <td width="35%">
                                {% if 'ROLE_ADMIN' in update.user.roles or 'ROLE_EXPERT' in update.user.roles or 'ROLE_ANGEL' in update.user.roles %}
                                    Expert
                                {% endif %}
                                Update: {{ update.date|date("g:ia\, d/m/Y") }}
                            </td>
                            <td>
                                {% if 'ROLE_SUBSCRIBED_USER' in update.user.roles %}
                                    <a href="{{ path('case_study_update_edit', {caseStudySlug: case_study.slug, caseStudyUpdateId: update.id}) }}">Edit Update</a>
                                {% endif %}
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                            {% if 'ROLE_SUBSCRIBED_USER' in update.user.roles %}
                                <tr>
                                    <td>Tissue Status</td>
                                    <td>{{ update.tissueStatus }}</td>
                                </tr>
                                <tr>
                                    <td>Wound Size</td>
                                    <td>{{ update.woundSize }}</td>
                                </tr>
                            {% endif %}
                        <tr>
                            <td>Message</td>
                            <td>{{ update.content }}</td>
                        </tr>
                        <tr>
                            <td>Updated by</td>
                            <td>{{ update.user.firstName }} {{ update.user.lastName }}</td>
                        </tr>
                        {% if update.images is not empty %}
                            <tr>
                                <td>Images</td>
                                <td>
                                    <div class="row">
                                        {% for image in update.images %}
                                            <div class="small-12 medium-3 columns {% if loop.last %}end{% endif %}" style="margin-bottom: 2rem;">
                                                <a href="{{ vich_uploader_asset(image, 'imageFile') }}" class="fancybox" rel="update-{{ update.id }}">
                                                    <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('case_study_admin_thumb_collection') }}" alt="{{ case_study.injuryName }}" style="width: 100%"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}