{% extends 'base.html.twig' %}

{% block body %}

 <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
               <h1>Contact VWL</h1>
              <h3 class="subtitle">Get in touch with your </h3>
            </div>
          <div class="large-2 medium-2 columns"> <img src="{{ asset('images/icons/case-studies.png') }}" alt="Our Wound Experts" class="banner-icon"/> </div>
        </div>
    </div>

  
      <div class="row padded-row">
      <div class="large-8 small-12 columns">

	  <p>Please use our contact form to get in touch. If you prefer to speak to a human call Georgie and she will find you one!
	  <br><br>
	  This form is for quieres about our service and pre-signup questions. If you need help with a wound, please login to your account or signup first and then submit a case study.</p>
	  <p>
	  

<hr />
	  
	  
	  	<h3>Get in touch online</h3>
		<p>* = Required field</p>
             {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
		
		 <div class="large-4 medium-4 small-12 columns hide-for-small-only hide-for-medium-only">
            <aside id="sidebar">
			
		<p>	Home/Office: 01953 681452
<br>
Mobile: 07917 562940
<br>
93 Back Street, Garboldisham, Diss, IP22 2SD.</p>
			
                <div class="register-today-box">
                    <h3>REGISTER</h3>
                </div>
                <div class="widget">
                    <h3>CATEGORIES</h3>
                    <div class="widgetwrap"> <a href="#" class="category-sidebar">> General news</a> <a href="#" class="category-sidebar">> Products</a> <a href="#"class="category-sidebar">> CPD</a> <a href="#" class="category-sidebar">> General news</a> </div>
                </div>
                <div class="widget widget2">
                    <h3>Authors</h3>
                    <div class="widgetwrap"> <a href="#" class="category-sidebar">Georgie</a> <a href="#" class="category-sidebar">Dave</a> <a href="#"class="category-sidebar">Jim</a> <a href="#" class="category-sidebar">Fiona</a> </div>
                </div>
            </aside>
        </div>
    </div>
		 

{% endblock %}