{% extends 'base.html.twig' %}

{% block body %}

 <div class="page page-darkgrey">
        <div class="row">
            <div class="large-10 medium-10 columns">
             <h1>Thank you for contacting us</h1>
                <h3 class="subtitle">We will be in touch shortly.</h3>
            </div>
            <div class="large-2 medium-2 columns"> <img src="{{ asset('images/icons/case-studies.png') }}" alt="Our Wound Experts" class="banner-icon"/> </div>
        </div>
    </div>

 <div class="row padded-row">
      <div class="large-8 small-12 columns">
  	<h3>Other methods of contact</h3>
    <p>If you require us </p>
	
	</div>
	</div>
	
{% endblock %}