{% extends 'base.html.twig' %}

{% block body %}
    <div class="row padded-row">
        <div class="small-12 columns">
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div data-alert class="alert-box warning">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div data-alert class="alert-box success">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="small-12 columns">
            {{ form_start(form) }}
                <p>Select or add a new address.</p>
                <div class="row">
                    {% for address in form.address %}
                        <div class="small-12 medium-3 columns {% if address == form.address|last %}end{% endif %}">
                            {{ form_errors(address) }}
                            {{ form_widget(address) }}{{ form_label(address) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for address in form.address %}
                            <div class="small-12 medium-3 columns {% if address == form.address|last %}end{% endif %}">
                            {% if address.vars.value != "" %}
                                    <a href="{{ path('delete_address', {id : address.vars.value}) }}">Delete Address</a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                            </div>
                    {% endfor %}
                </div>
            <div id="address-input" style="display:none;">
                <div><strong>Address</strong></div>
                <hr>
                {{ form_row(form.firstLine) }}
                {{ form_row(form.secondLine) }}
                {{ form_row(form.town) }}
                {{ form_row(form.county) }}
                {{ form_row(form.postcode) }}
            </div>

            <div><strong>Payment Details</strong></div>
            <hr>
                {{ form_row(form.cardNumber) }}
            <div class="row">
                {% for field in form.cardExpDate|reverse %}
                    {% if field.vars.name != "day" %}
                        <div class="small-6 columns">
                            {{ form_row(field) }}
                        </div>
                    {% else %}
                        <div style="display: none;">
                            {{ form_row(field) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {{ form_row(form.cvc) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function() {
           $('input[name="subscription[address]"]').on('click', function() {
               var address = $('#address-input');
               address.slideDown();
           });
        });
    </script>
{% endblock %}