{% extends 'admin/layout.html.twig' %}

{% block title %}{{ heading }} - Vet Wound Library{% endblock %}
{% block heading %}{{ heading }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Name</th>
                            {% if show_subscription == true %}
                                <th>Subscribed</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_user_show', { id: user.id }) }}">
                                        {{ user.username }}
                                    </a>
                                </td>
                                <td>
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                {% if show_subscription == true %}
                                    <td>
                                        {% if user.activeSubscription is not null %}
                                            <i class="fa fa-circle"
                                               style="color: #27e833;"></i>
                                        {% else %}
                                            <i class="fa fa-circle"
                                               style="color: #f9152f;"></i>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if knp_pagination_render(users) != "\n" %}
                    <div class="box-footer">
                        <div class="navigation">
                            {{ knp_pagination_render(users) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}