{% extends 'admin/sidebar_layout.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }}'s Profile - Vet Wound Library{% endblock %}
{% block heading %}
    {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Username: {{ user.username }}</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.firstName) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% if addresses is not empty %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Address</h3>
            </div>
            {% for address in addresses %}
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td width="30%"><strong>First Line</strong></td>
                                <td>{{ address.firstLine }}</td>
                            </tr>
                            <tr>
                                <td><strong>Second Line</strong></td>
                                <td>{{ address.secondLine }}</td>
                            </tr>
                            <tr>
                                <td><strong>Town</strong></td>
                                <td>{{ address.town }}</td>
                            </tr>
                            <tr>
                                <td><strong>County</strong></td>
                                <td>{{ address.county }}</td>
                            </tr>
                            <tr>
                                <td><strong>Postcode</strong></td>
                                <td>{{ address.postcode }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Options</h3>
        </div>
        {% if user.image is not null %}
            <div class="box-body">
                <img src="{{ vich_uploader_asset(user.image, 'imageFile') | imagine_filter('user_admin_thumb') }}" alt="{{ user.username }}" style="width: 100%"/>
            </div>
        {% endif %}
        <div class="box-body">
            <div class="form-group">
                {{ form_row(form.image) }}
            </div>
            <div class="form-group">
                <label>User Roles</label>
                {{ form_errors(form.roles) }}
                {% for checkbox in form.roles %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="{{ checkbox.vars.full_name }}"
                                   id="{{ checkbox.vars.id }}"
                                   value="{{ checkbox.vars.value }}"
                                    {% if checkbox.vars.checked %}
                                        checked
                                    {% endif %}>
                            {{ checkbox.vars.label }}
                        </label>
                        {% do checkbox.setRendered %}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form_row(form.published) }}
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form._token) }}
            {{ form_row(form.submit) }}
        </div>
    </div>
{% endblock %}